<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunrise Travel</title>
    <link rel="stylesheet" href="/css/email-styles.css"/>
    <link rel="stylesheet" href="/css/reset.css"/>
</head>

<body>

    <div class="email-container">
        <h1>Линк за промяна на парола</h1>

        <div class="content">
            <p>Здравей, <span th:text="${fullName}">[име]</span>,</p>

            <p>Получихме заявка за нова парола от твоя имейл (<span th:text="${email}">имейл</span>). Можеш да смениш
                паролата си след клик върху бутона.</p>

            <a th:href="@{'http://localhost:8090/users/reset-password?token=' + ${token}}">Промяна на парола</a>

            <p>С най-добри пожелания,<br>
                Екипът на Runtastic Shoes</p>
        </div>
    </div>

</body>
</html>