<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div style="padding: 1em 2em; border-radius: 0.5em; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
        <h1 style="text-align: center;">Нова поръчка</h1>

        <div style="font-size: 16px;">
            <p style="margin-bottom: 1em;">Благодарим Ви за поръчката, <span th:text="${fullName}">Клиент</span>!</p>

            <p style="margin-bottom: 1em;">Вашата поръчка е успешно приета на
                <strong th:text="${#temporals.format(orderedOn, 'dd.MM.yyyy HH:mm')}">дата</strong>.</p>

            <h3 style="padding-top: 1em; margin-bottom: 0.5em;">Детайли за поръчката:</h3>
            <ul style="margin: 0 0 1em 1em; padding: 0;">
                <li style="margin-bottom: 0.5em;"><strong>Телефон:</strong>
                    <span th:text="${phoneNumber}">телефон</span></li>
                <li style="margin-bottom: 0.5em;"><strong>Email:</strong>
                    <span th:text="${email}">имейл</span></li>
                <li style="margin-bottom: 0.5em;"><strong>Адрес за доставка:</strong>
                    <span th:text="${deliveryAddress}">адрес</span></li>
                <li style="margin-bottom: 0.5em;"><strong>Статус:</strong>
                    <span th:text="${status}">статус</span></li>
            </ul>

            <p style="margin-bottom: 0.5em;"><strong>Обща цена:</strong> <span th:text="${totalPrice}">0.00</span> лв.</p>

            <div th:if="${discount != null && discount != 0}" style="margin-bottom: 0.5em;">
                <strong>Отстъпка:</strong> <span th:text="${discount}">0.00</span> лв.
                (с промо код <span th:text="${promoCodeName}"></span> за <span th:text="${discountPercent} + '%'"></span> отстъпка)
            </div>

            <div th:if="${vipStatusDiscount != null && vipStatusDiscount != 0}" style="margin-bottom: 0.5em;">
                <strong>ВИП отстъпка:</strong> <span th:text="${vipStatusDiscount}"></span>
                (<span th:text="${discountCardName}"></span> за <span th:text="${discountCardPercent} + '%'"></span> отстъпка)
            </div>

            <p style="margin-bottom: 1em;"><strong>Крайна цена:</strong> <span th:text="${finalPrice}">0.00</span> лв.</p>

            <p style="margin-bottom: 1em;">Следете поръчката си и промените в нейния статус
                <a style="text-decoration: underline" th:href="${orderTrackingUrl}">тук</a>.</p>

            <p style="margin-bottom: 1em;">Ще се свържем с Вас при нужда. Благодарим, че избрахте нашия онлайн магазин!</p>

            <p>С най-добри пожелания,<br>
                Екипът на Runtastic Shoes</p>
        </div>
    </div>

</body>
</html>