<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>За нас</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>За нас</h1>

        <section>
            <h2>Кои сме ние?</h2>

            <p>Runtastic Shoes - твоят онлайн магазин за оригинални маратонки, кецове и спортни обувки. Нашата история започва през 2020г. с 
                една идея - да предложим на любителите на спорта един удобен начин да се сдобият с всичко необходимо за любимите си занимания!</p>
            <p>Ние сме екип от професионалисти, които имат задача да предоставят на Вас, нашите потребители, най-доброто обслужване, от 
                професионални съвети до лесна поръчка с бърза доставка! Тук ще намерите голямо разнообразие от оригинални маратонки, кецове и 
                спортни обувки за почти всеки повод.</p>
            <p>Ние сме напълно реална и легитимна българска компания</p>

            <ul>
                <li>РЪНТАСТИК ШУС ЕООД</li>
                <li>ЕИК: 202441322</li>
                <li>Седалище: гр. София 1407, район р-н Лозенец, ул. КОЗЯК</li>
                <li>МОЛ: САВИНА БЕДРИЕВА ДЖЕНИМОВА</li>
            </ul>
        </section>

        <section>
            <h2>Каква е нашата философия?</h2>

            <p>Тя е съвсем семпла - да предоставим на българските потребители висококачествени оригинални маратонки, кецове и спортни обувки 
                на любимите световноизвестни марки, като adidas, Puma, Reebok, Nike, Supra и много други, на максимално достъпни цени!</p>
        </section>

        <section>
            <h2>Каква е нашата цел?</h2>

            <p>Вие, нашите потребители, сте нашият основен приоритет! ShopSector цени своите клиенти и коректните отношения, затова и сайтът 
                предлага богата гама продукти с гарантирано качество и доказан произход. Стараем се да Ви представим нашите предложения така, 
                че да можете да направите своя избор бързо и лесно. За нас най-важно е Вие, клиентите, да получите качествени оригинални 
                маратонки, кецове и спортни обувки на ТОП цени и нашите продукти са точно такива - 100% оригинални. Богатият ни асортимент 
                ще покрие нуждите Ви и ще задоволи високите Ви изисквания. Можете да сте сигурни, че в ShopSector.com ще откриете най-добрите 
                модели маратонки на страхотни цени!</p>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>