<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/brands-styles.css">
    <title>Популярни марки</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Всички марки</h1>

        <div class="all-brands-section">
            <div>
                <a><img src="/images/brands/brand-nike-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-adidas-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-puma-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-guess-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-skechers-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-salomon-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-reebok-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-new-balance-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-calvin-klein-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-champion-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-asics-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-tommy-hilfiger-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-timberland-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-lacoste-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-converse-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-the-north-face-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-napapijri-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-us-polo-assn-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-champion-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-columbia-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-caterpillar-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-diadora-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-timberland-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-fila-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-kappa-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-crocks-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-palladium-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-reef-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-rip-curl-dark.svg"></a>
            </div>
            <div>
                <a><img src="/images/brands/brand-lotto-dark.svg"></a>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>