<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Runtastic Shoes</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Избери твоя размер</h1>

        <section>
            <h3>Вариант 1 (най-лесният)</h3>

            <p>Вижте кой е размерът от етикета на Вашите обувки. Ако например обувките Ви са Пума и Вие сте избрали при нас също модел на 
                тази марка, препоръчаваме да изберете същия размер като на Вашите. Ако сте избрали при нас различна марка от Вашите обувки, 
                тогава е най-добре да се ориентирате по дължината на стелката.</p>

            <p>Почти всички марки оставят данни върху етикета за дължината на стелката в сантиметри. Просто сравнете какво пише на Вашия 
                етикет с информацията, която ние сме оставили към всеки модел от падащото меню за избор на размер. Ако Вашите обувки са 
                Адидас е малко по-специфично защото на етикета Ви трябва да гледате секция JPN, като там данни са в милиметри. Например 
                ако там пише 275 това означава, че стелктата Ви е 27,5см.</p>
                
            <p>Важно е да знаете, че марките имат разлика по между си. Например размер 43 на Пума е с дължина на стелката 28см., а размер 
                43 на Nike е с дължина на стелката 27,5см. Това означава, че ако носите размер 43 на Nike и в момента желаете да поръчате 
                от нас Пума, тогава би следвало да изберете 42,5 защото този размер е с дължина на стелката 27,5см.</p>
        </section>

        <section>
            <h3>Вариант 2</h3>

            <p>Измерете дължината на стъпалото си на бос крак. Поставете на земята бял лист хартия и внимателно очертайте формата на крака си. 
                Напревете това и за двата крака. След това измерете очертанието в права линия от края петата в средната част към края на 
                най-дългият Ви пръст. Препоръчително е да правите това късния следобед или вечерта защото сутрин крака е отпочинал. 
                Вземете в предвид мерките от по-дългото стъпало защото стъпалата на левия и десния крак винаги имат разлика. Към размера, 
                който сте получили прибвате половин или един сантиметър с цел максимален комфорт за крака Ви. Например ако сте измерили 
                по-дългото си стъпало 28см., тогава би трябвало да изберете при нас размер с дължина на стелката 28,5см. или дори 29см.</p>

            <img width="100%" src="/images/size/choose-size.jpg" alt="Избери твоя размер">

            <p><strong>ВАЖНО!!! За Ваше спокойствие изпращаме всички поръчки с опция за тест и преглед преди плащане. Ако все пак има проблем 
                с размера или модела, който сте избрали, винаги може да върнете обувките веднага на куриера без да плащате за тях, или в 
                30 дневния срок, но без да сте ги носили навън.</strong></p>
        </section>

        <section>
            <h3>Таблици с размери</h3>

            <p>Всеки производител използва различна мерна система. За това и тук ще намерите точните размери на Вашите любими марки 
                оригинални маратонки adidas, Puma, Reebok, Supra и Asics.</p>

            <img width="100%" src="/images/size/size-adidas.jpg" alt="Таблица с размери Adidas">
            <img width="100%" src="/images/size/size-puma.jpg" alt="Таблица с размери Puma">
            <img width="100%" src="/images/size/size-reebok.jpg" alt="Таблица с размери Reebok">
            <img width="100%" src="/images/size/size-asics.jpg" alt="Таблица с размери Asics">
            <img width="100%" src="/images/size/size-supra.jpg" alt="Таблица с размери Supra">
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>