<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/delivery-and-payment-styles.css">
    <title>Доставка и плащане</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Доставка и плащане</h1>

        <div class="main-section">
            <p>Ние, от Runtastic Shoes, се стремим към бързина и професионализъм при доставката на Вашите поръчки, затова ползваме услугите на 
                куриерска фирма <strong>“Еконт Експрес”</strong>.</p>

            <p>Доставяме до всяка точка на България в рамките на 1-2 работни дни. Може да получите пратката си до точно посочен от 
                Вас адрес (независимо дали домашен или служебен) или до офис на "Еконт Експрес" в съответното населено място. Този срок 
                може да бъде удължен по време на по-натоварени кампанийни периоди, национални празници или лоши метеорологични условия.</p>
                
            <p>За поръчки над 100 лева доставката е винаги безплатна!</p>
                
            <p>За поръчки под 100 лева доставката е за сметка на клиента. Цената на доставката до офис на Еконт е около 4-6лв., 
                а до Ваш личен адрес се оскъпява с около 2лв. Посочените цени са ориентировъчни.</p>
                
            <p>Куриерската услуга за връщането към нас е винаги за наша сметка!</p>
                
            <p>За Ваше удобство и за максимална коректност всяка поръчка пристига с опция “Преглед и тест”, без значение на каква 
                стойност и от колко артикула се състои тя. Това Ви дава възможност да пробвате и добиете по-ясна представа за продукта в 
                момента на получаването му. В случай, че не Ви стане или не го харесате, можете да го откажете веднага на куриера.</p>
                
            <p>Стойността на поръчката се заплаща на куриера в брой или на ПОС терминал при получаване на пратката (наложен платеж), 
                или предварително на сайта ни с Вашата банкова карта.</p>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>