<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/exchange-or-return-styles.css">
    <title>Замяна или връщане</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Замяна или връщане</h1>

        <section>
            <h3>Обща информация</h3>

            <p>Ние, от Runtastic Shoes, ползваме услугите на куриерска фирма Еконт Експрес. За да бъдем максимално коректни, изпращаме всички 
                поръчки с опция "Преглед и Тест" преди плащане. Това Ви дава възможност да пробвате и добиете по-ясна представа за продукта 
                в момента на получаването му. В случай, че не Ви стане или не го харесате, можете да го върнете веднага на куриера.</p>
            <p>За поръчки над 100 лева доставката е винаги безплатна. За поръчки под 100 лева доставката е за сметка на клиента. Цената на 
                доставката до офис на Еконт е около 3-4 лева, а до Ваш личен адрес се оскъпява с до 2лв. Посочените цени са ориентировъчни. 
                Куриерската услуга за връщането към нас е винаги за наша сметка.</p>
            <p>Ако сте заплатили поръчката си:</p>
            <p>В срок от 30 дни имате право да върнете или замените това, което сте поръчали, но само ако е в състоянието, в което сте го 
                получили от нас. Продуктът да не е носен навън, а само пробван в домашни условия и оригиналната опаковка и етикетите да 
                не са отстранени. Ако тези условия са спазени, веднага след като го получим обратно от Вас, ще направим замяна за 
                предварително избран от Вас модел или ще Ви възстановим пълната стойност, която сте заплатили за него.</p>
        </section>

        <section>
            <h3>Информация за замяна</h3>

            <p>Ако желаете да направите замяна, моля попълнете моля попълнете формата по-долу на тази страница. След това задължително 
                се свържете с нас според най-удобния за Вас начин на телефон 0895 12 16 16 или на имейл runtastic.shoes.contacts@gmail.com.</p>
            <p>При замяна куриерската услуга в посоката към Вас е за Ваша сметка.</p>
        </section>

        <section>
            <h3>Информация за връщане</h3>

            <p>Ако желаете да върнете продукт към нас и да Ви възстановим сумата, която сте заплатили за него, моля попълнете 
                формата по-долу на тази страница. Куриерската услуга за връщането към нас е винаги за наша сметка.</p>

            <p>Моля, не добавяйте наложен платеж към върнатата пратка. Сумата ще Ви бъде възстановена чрез пощенски паричен превод с 
                куриерска фирма Еконт, след като получим от Вас върнатата стока.</p>

            <ul>
                <li>Ако сте изпратили пратката от офис на Еконт, след три работни дни трябва да отидете до офиса, за да получите парите си.</li>
                <li>Ако сте изпратили пратката от адрес, до три работни дни куриер на Еконт ще Ви посети, за да Ви изплати сумата.</li>
                <li>Ако сте заплатили предварително поръчката си през сайта ни с банкова карта, когато получим пратката, ще възстановим 
                    сумата по банковата Ви карта. След това ще получите парите си до три работни дни.</li>
            </ul>

            <p>При замяна куриерската услуга в посоката към Вас е за Ваша сметка.</p>
        </section>

        <section class="form-section">
            <form>
                <h2>Ако желаеш замяна или връщане, моля попълни формата!</h2>
    
                <div class="name-and-phone">
                    <div class="field">
                        <label for="fullName">Име и фамилия</label>
                        <input type="text" name="fullName" id="fullName">
                    </div>
        
                    <div class="field">
                        <label for="phoneNumber">Мобилен телефон</label>
                        <input type="text" name="phoneNumber" id="phoneNumber">
                    </div>
                </div>
    
                <div class="field">
                    <label for="town">Населено място</label>
                    <input type="text" name="town" id="town">
                </div>

                <div class="radio-buttons">
                    <h3>От къде ще изпратиш пратката към нас?</h3>

                    <div class="radio-button">
                        <input type="radio" id="exchange-address" name="address" value="От офис на Еконт" />
                        <label for="exchange">От офис на Еконт</label>
                    </div>
                    
                    <div class="radio-button">
                        <input type="radio" id="return-address" name="address" value="От твой адрес" />
                        <label for="return">От твой адрес</label>
                    </div>
                </div>

                <div class="radio-buttons">
                    <h3>Какво желаеш да извършиш - Замяна или Връщане?</h3>

                    <div class="radio-button">
                        <input type="radio" id="exchange" name="exchange-or-return" value="Замяна" />
                        <label for="exchange">Замяна</label>
                    </div>
                    
                    <div class="radio-button">
                        <input type="radio" id="return" name="exchange-or-return" value="Връщане" />
                        <label for="return">Връщане</label>
                    </div>
                </div>

                <button>Създай товарителница</button>
            </form>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>