<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/faq-styles.css">
    <title>Често задавани въпроси</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Често задавани въпроси</h1>

        <div class="questions">
            <details>
                <summary>Описанието и снимките на продукта, които сте предоставили в сайта отговарят ли реално на това, което ще получа?</summary>
                <div>
                    <p>Всички снимки и цялата информация са внимателно подготвени и подбрани с цел Клиента да има възможност да добие максимално ясна и 
                    точна представа за дадения продукт. Ние гарантираме, че снимките и информацията отговарят 100% на това, което ще получите. В 
                    голяма част от случаите нашите клиенти твърдят, че когато получат продукта на живо, той изглежда дори по-добре отколкото на 
                    снимките.</p>
                </div>
            </details>
    
            <details>
                <summary>Оригинални ли са продуктите, които предлагате?</summary>
                <div>
                    <p>Всички продукти в онлайн магазин ShopSector.com са оригинални и са внос от Европейския съюз. Притежават гарантирано качество и 
                        произход, отговарящи на марките и цените, които предлагаме.</p>
                </div>
            </details>
    
            <details>
                <summary>До къде доставяте, за колко време се извършва доставката и колко ще струва тя?</summary>
                <div>
                    <p>Ние, от Runtastic Shoes, се стремим към бързина и професионализъм при доставката на Вашите поръчки, затова ползваме услугите 
                        на куриерска фирма "Еконт Експрес".</p>
                    <p>Доставяме до всяка точка на България в рамките на 1-2 работни дни. Може да получите пратката си до точно посочен от Вас адрес 
                        (независимо дали домашен или служебен) или до офис на "Еконт Експрес" в съответното населено място. Този срок може да бъде 
                        удължен по време на по-натоварени кампанийни периоди, национални празници или лоши метеорологични условия.</p>
                    <p>За поръчки над 100 лева доставката е винаги безплатна!</p>
                    <p>За поръчки под 100 лева доставката е за сметка на клиента. Цената на доставката до офис на Еконт е около 3-5лв., 
                        а до Ваш личен адрес се оскъпява с до 2лв. Посочените цени са ориентировъчни.</p>
                    <p>Куриерската услуга за връщането към нас е винаги за наша сметка!</p>
                </div>
            </details>
    
            <details>
                <summary>Всички продукти ли са налични?</summary>
                <div>
                    <p>Всички продукти, които са изложени в сайта са в наличност.</p>
                </div>
            </details>
    
            <details>
                <summary>Мога ли да прегледам продукта преди да платя?</summary>
                <div>
                    <p>За Ваше удобство и за максимална коректност всяка поръчка пристига с опция "Преглед и тест", без значение на каква стойност 
                        и от колко артикула се състои тя. Това Ви дава възможност да пробвате и добиете по-ясна представа за продукта в момента на 
                        получаването му. В случай, че не Ви стане или не го харесате, можете да го откажете веднага на куриера.</p>
                </div>
            </details>
    
            <details>
                <summary>Как и кога ще платя?</summary>
                <div>
                    <p>Стойността на поръчката се заплаща на куриера в брой или на ПОС терминал при получаване на пратката (наложен платеж), 
                        или предварително на сайта ни с Вашата банкова карта.</p>
                </div>
            </details>
    
            <details>
                <summary>Ако продукта не ми става или не ми харесва, ще мога ли да го върна или заменя с друг?</summary>
                <div>
                    <p>За да бъдем максимално коректни, изпращаме всички поръчки с опция "Преглед и Тест" преди плащане. Това Ви дава възможност 
                        да пробвате и добиете по-ясна представа за продукта в момента на получаването му. В случай, че не Ви стане или не го 
                        харесате, можете да го върнете веднага на куриера.</p>
                    
                    <ul>
                        Ако сте заплатили поръчката си:
                        <li>В срок от 30 дни имате право да върнете или замените това, което сте поръчали, но само ако е в състоянието, в което сте го 
                            получили от нас. Продуктът да не е носен навън, а само пробван в домашни условия и оригиналната опаковка и етикетите да не 
                            са отстранени. Ако тези условия са спазени, веднага след като го получим обратно от Вас, ще направим замяна за 
                            предварително избран от Вас модел или ще Ви възстановим пълната стойност, която сте заплатили за него.</li>
                        <li>ЗАМЯНА - ако желаете да направите замяна, моля попълнете формата, която се намира в горната част на тази страница. 
                            Изберете опция Замяна. След това задължително се свържете с нас според най-удобния за Вас начин - на телефон 
                            0895 12 16 16, пишете ни съобщение на Facebook страницата ни facebook.com/ShopSector или на имейл 
                            contact@shopsector.com При замяна куриерската услуга в посоката към Вас е за Ваша сметка. Куриерската услуга за 
                            връщането към нас е винаги за наша сметка.
                        </li>
                        <li>ВРЪЩАНЕ - ако желаете да върнете продукт към нас и да Ви възстановим сумата, която сте заплатили за него, моля 
                            попълнете формата, която се намира в горната част на тази страница. Изберете опция Връщане. Куриерската услуга за 
                            връщането към нас е винаги за наша сметка.
                        </li>
                        <ul>
                            Моля, не добавяйте наложен платеж към върнатата пратка. Сумата ще Ви бъде възстановена чрез пощенски паричен превод 
                            с куриерска фирма Еконт, след като получим от Вас върнатата стока.
                            <li>Ако сте изпратили пратката от офис на Еконт, след три работни дни трябва да отидете до офиса, за да получите парите си.</li>
                            <li>Ако сте изпратили пратката от адрес, до три работни дни куриер на Еконт ще Ви посети, за да Ви изплати сумата.</li>
                            <li>Ако сте заплатили предварително поръчката си през сайта ни с банкова карта, когато получим пратката, ще възстановим 
                                сумата по банковата Ви карта. След това ще получите парите си до три работни дни.</li>
                        </ul>
                    </ul>
                </div>
            </details>
    
            <details>
                <summary>Защитени ли са личните ми данни, които предоставям на онлайн магазинът Runtastic Shoes?</summary>
                <div>
                    <p>Вашите лични данни ще бъдат използвани от наша страна, само и единствено с цел извършване на комуникация с Вас и доставка на
                        поръчката Ви. Ние сме регистрирани в комисията за защита на личните данни с удостоверение номер 383781.</p>
                </div>
            </details>
    
            <details>
                <summary>Как най-точно мога да определя размера си?</summary>
                <div>
                    <p>За Ваше улеснение, освен номера на обувката сме предоставили и информация за дължина на стелката в сантиметри. Понякога 
                        някой марки имат различна дължина на стелката за един и същи номер. Например adidas номер 43 1/3 е с дължина на стелката 
                        27,5см., а номер 43 на Рита е с дължина на стелката 28см. За да бъдете сигурни, можете да проверите какво пише на етикета 
                        върху езика на някои Ваши стари обувки или да измерите ходилото си с помощта на рулетка. Нашите консултанти са готови да 
                        Ви съдействат за да сте спокойни, че сте избрали точния размер.</p>
                </div>
            </details>
        </div>

        <p>Не се колебай да се свържеш с нас за повече информация! Ние ще отговорим на всички твои въпроси.</p>

        <a th:href="@{/contacts}">Връзка с нас</a>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>