<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/favourites-styles.css">
    <title>Любими продукти</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Любими продукти</h1>

        <p th:if="${warningMessage}" th:text="${warningMessage}"></p>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>

        <div th:if="${favourites.empty}" class="empty-favourites-message">
            <p>Все още нямаш добавени продукти в списъка ти с любими.
                Можеш да разгледаш най-новото в Runtastic Shoes и да направиш своя избор.</p>
            <a th:href="@{/products/all}" class="view-products-btn">Виж нашите предложения</a>
        </div>

        <div class="products-list" th:if="${not favourites.empty}">
            <a class="product-card"
               th:each="favourite : ${favourites.getContent()}"
               th:href="@{/products/product/{id}(id=${favourite.getId()})}">
                <div class="badge-container">
                    <div class="new-badge" th:if="${favourite.isNew()}">НОВО</div>
                    <div class="sale-badge" th:if="${favourite.isOnSale()}"
                         th:text="'-' + ${favourite.getSalePercent()} + '%'">-12%</div>
                </div>
                <form th:action="@{/users/favourites/remove-favourite/{id}(id=${favourite.getId()})}"
                      th:method="DELETE">
                    <input type="hidden" name="productId" value="${favourite.id}" />
                    <button type="submit" class="wishlist"><i class="fa-regular fa-trash-can"></i></i></button>
                </form>
                <div class="product-image">
                    <img th:src="@{${favourite.imageUrls[0]}}" th:alt="${favourite.name}">
                </div>
                <div class="product-title" th:text="${favourite.getName()}">Nike Flex Experience RN 12</div>
                <div class="product-type">
                    <span th:text="${favourite.getCategory()}">Мъжки обувки</span>
                </div>
                <div class="price">
                    <span class="current" th:text="${favourite.getPrice()} + ' лв.'">129.99 лв.</span>
                    <span class="old"
                          th:if="${favourite.getOldPrice() != null}"
                          th:text="${favourite.getOldPrice()} + ' лв.'">129.99 лв.</span>
                </div>
                <div class="free-shipping" th:if="${favourite.getPrice() > 100}">Безплатна доставка</div>
                <div class="color">
                    <span th:text="'Цвят: ' + ${favourite.getColor()}"></span>
                </div>
                <div class="sizes">
                    <div class="sizes-title">Налични размери:</div>
                    <div class="sizes">
                      <span th:each="size : ${favourite.getSizes()}" th:text="${size.size}"></span>
                    </div>
                </div>
            </a>
        </div>

        <div class="pagination">
            <ul>
                <li th:if="${favourites.hasPrevious()}" class="hasPrevious">
                    <a th:href="@{/users/favourites(size=${favourites.size}, page=${favourites.number - 1})}">&lt; Предишна</a>
                </li>

                <li th:each="i : ${#numbers.sequence(0, favourites.totalPages - 1)}"
                    th:if="${favourites.totalPages > 1}"
                    th:classappend="${i} == ${favourites.number} ? 'active' : 'pageNumber'">
                    <a th:href="@{/users/favourites(size=${favourites.size}, page=${i})}">
                        <span th:text="${i + 1}">1</span>
                    </a>
                </li>

                <li th:if="${favourites.hasNext()}" class="hasNext">
                    <a th:href="@{/users/favourites(size=${products.size}, page=${favourites.number + 1})}">Следваща &gt;</a>
                </li>
            </ul>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>