<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/general-conditions-styles.css">
    <title>Общи условия</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Общи условия</h1>

        <p>Прочетете внимателно тези условия. Ако използвате този сайт се счита, че сте съгласни с тях. Ако не сте съгласни с тези условия 
            молим Ви да не използвате сайта.</p>

        <p>Общи условия за ползване на сайта Runtastic Shoes</p>

        <ol>
            <li>ОСНОВНИ ПОНЯТИЯ И ТЕРМИНИ
                <p><strong>„ПРОДАВАЧ”</strong> е “Рънтастик Шус” ЕООД чрез електронния магазин Runtastic Shoes. Продавачът е лицето, с което 
                    Потребителят сключва договор за продажба от разстояние на конкретна стока (артикул) в електронния магазин.</p>
                <p><strong>„ПОТРЕБИТЕЛ” (КЛИЕНТ)</strong> e дееспособно лице, което се е съгласило с настоящите Общи условия във връзка 
                    със заявяването и закупуването на предлаганите чрез електронния магазин стоки.</p>
                <p><strong>„ЕЛЕКТРОНЕН МАГАЗИН”</strong> е Интернет сайтът Runtastic Shoes, който служи като виртуална платформа за предлагане 
                    на стоки за продажба и за постигане на съгласие между ПРОДАВАЧ и ПОТРЕБИТЕЛ за покупко-продажба на конкретна стока.</p>
                <p><strong>"Рънтастик Шус" (Runtastic Shoes)</strong> е търговското дружество “Рънтастик Шус” ЕООД, ЕИК: 202441322, със седалище в град София, което 
                    създава и поддържа електронния магазин, продава стоки в магазина и определя настоящите Общи условия, при които се продават 
                    стоките в сайта Runtastic Shoes. „Рънтастик Шус” ЕООД има пълните права едностранно да променя съдържанието на Интернет сайта, 
                    както и начините на достъп до него.</p>
                <p><strong>„ПОРЪЧКА”</strong> - това е действие, което обозначава направената от Потребител заявка за покупка на една или повече конкретна 
                    стока (продукт) чрез електронния магазин Runtastic Shoes. Поръчката се изпълнява само след потвърждаване от администратор 
                    на сайта Runtastic Shoes чрез телефонно обаждане до КЛИЕНТА/ПОТРЕБИТЕЛЯ, направил заявката за покупка.</p>
                <p><strong>„ДОГОВОР ЗА ПРОДАЖБА”</strong> - сключеният от разстояние чрез настоящия електронен магазин договор за покупко-продажба на стока 
                    между Продавач и Потребител.</p>
                <p><strong>„КУРИЕР”</strong> е търговец, който физически доставя закупената стока до посочен от Потребителя адрес и работи при изискванията на 
                    Закона за пощенските услуги.</p>
                <p><strong>„БРОШУРА / ИЗВЕСТИЕ / БЮЛЕТИН”</strong> са електронни информационни съобщения, отнасящи се до продавани в електронния магазин стоки 
                    през определен период от време, които може да са поместени на Интернет страницата, а може и да се изпращат по електронната 
                    поща на Потребител.</p>
            </li>
            <li>УСЛОВИЯ ЗА ПОЛЗВАНЕ НА ЕЛЕКТРОННИЯ МАГАЗИН Runtastic Shoes
                <ul>
                    <li>2.1. Разглеждането на електронния магазин Runtastic Shoes е напълно свободно и достъпно от всички точки на света.</li>
                    <li>2.2. Всички текстове, изображения и мултимедийно съдържание в сайта Runtastic Shoes са собственост на “Рънтастик Шус” ЕООД! 
                        Забранено е копирането, предаването, разпространението и съхраняването на част или на цялото съдържание в каквато и 
                        да е форма без предварителното писмено съгласие на “Рънтастик Шус” ЕООД! За контакти - runtastic.shies.contacts@gmail.com</li>
                    <li>2.3. Възможно е разминаване в цветовата гама на продуктите показани на снимките и реалните, в зависимост от екрана на 
                    устройството, на което Потребителят ги преглежда, за което Търговецът не носи отговорност.</li>
                    <li>2.4. Не са позволени никакви промени, размножаване, дистрибуция, директен пренос, показване, представяне, репродукция, 
                    публикуване, упълномощаване или продаване на информация, собственост на „Рънтастик Шус“ ЕООД.</li>
                    <li>2.5. За да се пазарува от електронния магазин Runtastic Shoes, е необходима следната информация: електронна поща (не е 
                    задължително), имена на получателя (задължително), телефон и адрес за доставка (задължително).</li>
                    <li>2.6. Всички посочени на сайта цени са в лева с включен ДДС.</li>
                </ul>
            </li>
            <li>ПОРЪЧКА НА СТОКИ И ПРОДУКТИ
                <ul>
                    <li>3.1. За да се направи поръчка до електронния магазин, Потребителят трябва да посочи:
                        <ul>
                            <li>3.1.1. валиден адрес на своя електронна поща (не е задължително);</li>
                            <li>3.1.2. вярно попълнен адрес за доставка на стоката и фактуриране (задължително);</li>
                            <li>3.1.3. вярно попълнени данни за контакт– две имена, телефон (задължително).</li>
                        </ul>    
                    </li>
                    <li>3.2. Поръчката се активира, т.е. заявява се до електронния магазин чрез натискане на бутона „Поръчай”, който се появява, 
                        след като първо е избран поне един продукт чрез бутона „Добави в количката”.</li>
    
                    <li>3.3. При направена поръчка, Потребителят получава потвърждение на поръчката на посочените от него имейл адрес (ако е посочил 
                        такъв), като в потвърждението се посочва номерът на поръчката, датата и часът, в който е направена поръчката.</li>
    
                    <li>3.4. В случай, че поръчаната стока (конкретен модел) не е в наличност, администратор на сайта ShopSector.com уведомява 
                        Потребителя. Ако Потребителят не се съгласи поръчката да се отнесе за друга стока (аналогичен модел), поръчката може 
                        да бъде променена или анулирана.</li>
    
                    <li>3.5. Поръчки в електронния магазин ShopSector.com се приемат 24 часа в денонощието, 7 дни в седмицата от системата на 
                        сайта.
                        <ul>
                            <li>3.5.1. Работното време на администраторите на електронния магазин ShopSector.com е от понеделник до петък, 
                                от 9:30 до 18:30 часа. Онлайн консултации относно продукти могат да бъдат извършвани в работното време на магазина.</li>
                            <li>3.5.2. Всички поръчки, направени до 17 ч., се обработват и изпращат на същия ден.</li>
                            <li>3.5.3. Всички поръчки, направени след 17 ч., обикновено се обработват на следващия работен ден.</li>
                        </ul>
                    </li>
    
                    <li>3.6. Поръчки, получени без коректни данни на купувача (Потребителя) или липсващи такива, се поставят под статус 
                        „Изчакваща“ до получаване на пълния набор от данни за Потребителя.</li>
    
                    <li>3.7. Потребителят може да откаже направена поръчка, без да е необходимо да упоменава причини за отказа.</li>
    
                    <li>3.8. Отказ може да се направи по телефона или чрез електронно писмо (имейл) до посочения в сайта имейл: 
                        runtastic.shoes.contacts@gmail.com . За да е валиден отказът, Потребителят трябва да предостави: двете си имена, с които е 
                        регистриран в сайта,  телефон за връзка към поръчката, както и номера на направената поръчка.</li>
                    </li>
                </ul>
            </li>

            <li>ДОСТАВКА НА ПОРЪЧАНИ СТОКИ
                <ul>
                    <li>4.1. След като в сайта Runtastic Shoes постъпи поръчка от Потребител, автоматизираната система на електронния магазин 
                        уведомява Потребителя с имейл (ако е посочил такъв) за успешно приетата поръчка.</li>
                    <li>4.2. Доставка се прави само на потвърдени от администратор на сайта поръчки.</li>
                    <li>4.3. Доставката на поръчана стока не се извършва в почивни дни и официални празници.
                        <ul>
                            <li>4.3.1. Обикновена доставка - в срок до 2 (два) работни дни от момента на потвърждаването на поръчката. 
                                Този срок може да бъде удължен по време на по-натоварени кампанийни периоди, национални празници или лоши 
                                метеорологични условия.</li>
                        </ul>
                    </li>    
                    <li>4.4. Електронният магазин Runtastic Shoes използва за доставки куриерска фирма Еконт Експрес, като обичайните часове 
                        за доставка са от 9.00 до 17.30 часа.</li>
                    <li>4.5. Доставката се извършва до посочен от Потребителя адрес или до офис на съответната куриерска фирма.</li>
                    <li>4.6. За поръчки над 100 лева доставката е винаги безплатна!
                        За поръчки под 100 лева доставката е за сметка на клиента. Цената на доставката до офис на Еконт е около 3-5лв., 
                        а до Ваш личен адрес се оскъпява с до 2лв. Посочените цени са ориентировъчни.
                        Куриерската услуга за връщането към нас е винаги за наша сметка!
                    </li>
                    <li>4.7. Ако Потребителят не осигури достъп и условия за предаване на стоката на посочения адрес в посочения срок, 
                        Продавачът се освобождава от задължението да изпълни заявената доставка.</li>
                </ul>
            </li>

            <li>ПЛАЩАНЕ
                <ul>
                    <li>5.1. Заплащането на поръчаната стока може да се извърши по един от следните начини:
                        <ul>
                            <li>5.1.1. Плащане в брой или на ПОС терминал при получаване на пратката (наложен платеж);</li>
                            <li>5.1.2. Плащане през сайта ни с Вашата банкова карта.</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>ОТКАЗ ОТ ДОГОВОРА. РЕКЛАМАЦИИ НА СТОКА/ПОРЪЧКА
                <ul>
                    <li>6.1. Потребителят има право на рекламация или връщане на закупена от електронния магазин стока в рамките на 
                        30 работни дни от получаване на стоката.</li>
                    <li>6.2. Отказ от договора може да се направи и пред куриера при доставяне на стоката, ако стоката е доставена след 
                        срока по причини, които са извън Потребителя и не се дължат на непреодолима сила.</li>
                    <li>6.3. При отказ от договора Потребителят е длъжен да върне закупената стока в ненарушен търговски вид и със запазен 
                        етикет.</li>
                    <li>6.4. При отказ от договора, ако Потребителят е заплатил стоката, му се възстановява сумата за закупените продукти, 
                        без доставката (ако е заплатил такава), в срок до 30 /тридесет/ дни от упражняването на правото на отказ от договора 
                        по телефон. Суми не се възстановяват, докато Потребителят не върне стоката. Ако стоката не бъде върната в срока по 
                        изречение първо, отказът от договора не произвежда действие.</li>
                    <li>6.5. Рекламация се прави, когато закупената стока не съответства на договореното между страните по договора за продажба. Несъответствието в договореното между страните може да се изразява в:<br>
                        Констатирани липси;<br>
                        Дефект на стоката;<br>
                        Несъответствие с обявения размер;<br>
                        Несъответствие с обявената търговска марка.
                    </li>
                    <li>6.6. Рекламацията може да се предяви пред „Рънтастик Шус” ЕООД на посоченият имейл runtastic.shoes.contacts@gmail.com, 
                        телефон 0894 49 00 44, онлайн системата за запитвания на сайта като едновременно с това Потребителят трябва 
                        да върне стоката в срок от 30 работни дни.</li>
                    <li>6.7. При рекламация Потребителят може да избере замяна на конкретния артикул за същия без дефекти или в друг размер, 
                        или друг цвят, или връщане на стоката срещу възстановяване на платената сума. Администратор на електронния магазин 
                        Runtastic Shoes може да предложи замяната на артикула или да предложи други.</li>
                    <li>6.8. Връщането на стоката при рекламация, в случаите извън фабричен дефект или повреди при транспорта, се осъществява 
                        при следните условия:</li>
                        Запазен добър търговски вид (стоката не е скъсана, надраскана, носена, прана, гладена).<br>
                        Не са налице повреди, причинени от неправилна употреба.<br>
                        Запазена оригинална опаковка и етикет.<br>
                    <li>6.9. Връщането на стока, било при отказ от договора, било при рекламация, може да се направи по начина и на 
                        адреса посочени върху стоковата разписка, с която Потребителят е получил поръчката.</li>
                    <li>6.10. При замяна на стоки транспортните разходи в едната посока са за сметка на Потребителя, а в другата посока са за 
                        сметка на "Рънтастик Шус ЕООД", освен ако замяната се е наложила по вина на електронния магазин или на Продавача. 
                        В случай, че клиентът желае да замени или върне продукт, това може да стане само с куриерска фирма Еконт Експрес.<br>
                        В случай, че в населеното място на Потребителя няма офис на куриерска фирма Еконт Експрес, то той трябва да се свърже 
                        с Продавача по телефон за уточняване на подробностите по връщането на стоката.
                    </li>
                </ul>
            </li>

            <li>ИНФОРМАЦИЯ ЗА ПРАВАТА НА ПОТРЕБИТЕЛИТЕ, ПРОИЗТИЧАЩИ ОТ ЗАКОНОВАТА ГАРАНЦИЯ ПО ЧЛ. 112-114 ОТ ЗЗП.
                <ul>
                    <li>Чл. 112.<br>
                        При несъответствие на потребителската стока с договора за продажба потребителят има право да предяви рекламация, 
                        като поиска от продавача да приведе стоката в съответствие с договора за продажба. В този случай потребителят може 
                        да избира между извършване на ремонт на стоката или замяната й с нова, освен ако това е невъзможно или избраният от 
                        него начин за обезщетение е непропорционален в сравнение с другия.<br>
                        Смята се, че даден начин за обезщетяване на потребителя е непропорционален, ако неговото използване налага разходи 
                        на продавача, които в сравнение с другия начин на обезщетяване са неразумни, като се вземат предвид: 1. стойността 
                        на потребителската стока, ако нямаше липса на несъответствие; 2. значимостта на несъответствието;<br>
                        възможността да се предложи на потребителя друг начин на обезщетяване, който не е свързан със значителни неудобства 
                        за него.</li>
                    <li>Чл. 113.<br>
                        Когато потребителската стока не съответства на договора за продажба, продавачът е длъжен да я приведе в съответствие 
                        с договора за продажба.<br>
                        Привеждането на потребителската стока в съответствие с договора за продажба трябва да се извърши в рамките на един 
                        месец, считано от предявяването на рекламацията от потребителя.<br>
                        След изтичането на срока по ал. 2 потребителят има право да развали договора и да му бъде възстановена заплатената 
                        сума или да иска намаляване на цената на потребителската стока съгласно чл. 114.<br>
                        Привеждането на потребителската стока в съответствие с договора за продажба е безплатно за потребителя. Той не 
                        дължи разходи за експедиране на потребителската стока или за материали и труд, свързани с ремонта й, и не трябва да 
                        понася значителни неудобства.<br>
                        Потребителят може да иска и обезщетение за претърпените вследствие на несъответствието вреди.</li>
                    <li>Чл. 114.<br>
                        При несъответствие на потребителската стока с договора за продажба и когато потребителят не е удовлетворен от решаването на рекламацията по чл. 113, той има право на избор между една от следните възможности:
                        разваляне на договора и възстановяване на заплатената от него сума;
                        намаляване на цената.<br>
                        Потребителят не може да претендира за възстановяване на заплатената сума или за намаляване цената на стоката, когато 
                        търговецът се съгласи да бъде извършена замяна на потребителската стока с нова или да се поправи стоката в рамките на 
                        един месец от предявяване на рекламацията от потребителя.<br>
                        Търговецът е длъжен да удовлетвори искане за разваляне на договора и да възстанови заплатената от потребителя сума, 
                        когато след като е удовлетворил три рекламации на потребителя чрез извършване на ремонт на една и съща стока е налице 
                        следваща поява на несъответствие на стоката с договора за продажба.<br>
                        Потребителят не може да претендира за разваляне на договора, ако несъответствието на потребителската стока с договора 
                        е незначително.</li>
                </ul>
            </li>

            <li>ОТГОВОРНОСТ
                <ul>
                    <li>8.1. Отговорност за недостатъци на стоката, за изпълнение на договора за продажба от разстояние, както и за 
                        възстановяване на платени суми, носи Продавачa на стоката.</li>
                    <li>8.2. „Рънтастик Шус” ЕООД не носи каквато и да е отговорност пред трети лица, ако такова лице сметне, че публикувана 
                        на електронния магазин информация нарушава нечии авторски права или други права на интелектуалната собственост.</li>
                </ul>
            </li>

            <li>ЗАЩИТА НА ЛИЧНИТЕ ДАННИ; БРОШУРИ И ИЗВЕСТИЯ
                <p>„Рънтастик Шус” ЕООД е регистрирано като администратор на лични данни с Удостоверение № 383781. С приемането на настоящите 
                    общи условия ползвателят дава безсрочното си изрично и безусловно съгласие, до евентуалната му изрична писмена отмяна, 
                    предоставените от него лични данни да бъдат събирани, съхранявани, обработвани и използвани от „Рънтастик Шус” ЕООД и 
                    упълномощени от него трети лица за целите на коректното изпълнение на договора за продажба от разстояние и доставка на 
                    поръчаната стока, за бизнес анализи с цел подобряване на услугите, предоставяни от ДРУЖЕСТВОТО, за маркетингови и 
                    рекламни цели и анализи, за предоставяне на информация относно маркетингови кампании, промоции и томболи, организирани 
                    от „Рънтастик Шус” ЕООД, изпращане на рекламни електронни съобщения, съобщения с цел директен маркетинг, както и за всякакви 
                    други цели, разрешени от закона. Личните данни, които „Рънтастик Шус” ЕООД събира задължително от клиентите си, във връзка с 
                    обработване и доставка на поръчките им, са посочени във формуляра за регистрация и в Количката при поръчка.</p>

                <p>Предоставянето на личните данни е напълно доброволно от страна на клиента и той може по всяко време да получи информация 
                    за използването и обработването на личните му данни, както и да поиска профилът му, съдържащ личните данни, да бъде 
                    заличен, като за целта е необходимо да изпрати писмено искане до runtastic.shoes.contacts@gmail.com</p>

                <p>Информацията която предоставяте за регистрация, както и всяка информация предоставена по време на работа в сайта 
                    Runtastic Shoes е поверителна.</p>
            </li>

            <li>СЪБИРАНЕ И ИЗПОЛЗВАНЕ НА ЛИЧНИ ДАННИ
                <p>Лични данни са всяка информация, която може да бъде използвана за идентифициране на дадено лице. Възможно е да Ви бъде 
                    поискана лична информация всеки път, щом влезете във връзка с нас или с наши партньори с оглед предоставянето на продуктите 
                    и услугите ни. Единствено при спазването на настоящата Политика за защита на личните данни и всички приложими законови 
                    разпоредби Администраторът и неговите партньори могат да споделят тази информация помежду си и да я използват. Вашите 
                    лични данни се обработват единствено на територията на Република България, само за срока и за целите, за които са 
                    предоставени.</p>
                
                <ul>
                    <li>10.1. Какви лични данни събираме
                        <p>Когато регистрирате профил, купувате продукт, участвате в томбола и др., можем да събираме различни видове информация, 
                            включително, но не само име, пощенски адрес, телефонен номер, имейл, предпочитан начин на комуникация или др.<br>
                            В случаите, в които е необходимо издаването на определени документи, например фактура, е възможно да Ви бъдат 
                            поискани и допълнителни данни съгласно изискванията на нормативната уредба.<br>
                            Съхраняваме история на поръчките, направени от всеки регистриран на сайта профил.</p>
                    </li>
                    <li>10.2. Как използваме личните данни
                        <p>Обработваме личните Ви данни, за да изпълним задълженията си като страна по договор за продажба на стоки или услуги. 
                            Възможно е периодично да ги използваме за да изпращаме важни съобщения като известия относно направени поръчки, 
                            промени в Общите условия или други правила.<br>
                            В случай, че сте заявили съгласие, обработваме Вашите данни за да Ви информираме за актуални промоции и рекламни 
                            активности. Веднъж заявено съгласие по всяко време може да бъде оттеглено.<br>
                            В случай, че сте заявили съгласие за участие в определени събития (конкурс, томбола, игра и др.) обработваме 
                            предоставените ни от Вас данни, за да администрираме тези активности.<br>
                            Предоставените при кандидатстване за работа данни ще бъдат използвани единствено за целите на подбор и преценка 
                            на пригодността на кандидата за съответната позиция.</p>
                    </li>
                    <li>10.3. Разкриване пред трети страни
                        <p>В дадени случаи, с цел изпълнението на задълженията ни по сключени с Вас договори или на законови такива, е 
                            необходимо или ще бъдем задължени да разкриваме предоставени от Вас лични данни на наши партньори (напр. 
                            транспортни, куриерски, сервизни, информационни и др. фирми) или пред компетентни органи.</p>
                    </li>
                    <li>10.4. Защита на личните данни
                        <p>Администраторът взима предпазни мерки, включващи административни, технически и физически мерки, за да защити 
                            личните ви данни от загуба, кражба и злоупотреба, както и от неоторизиран достъп, разкриване, промяна или 
                            унищожаване.<br>
                            Когато публикувате във форуми, чат стаи или услуги на социални мрежи, личната информация, която споделяте, 
                            е видима за други потребители и може да бъде четена, събирана или използвана от тях. В тези случаи Вие носите 
                            отговорност за личната информация, която изберете да предоставите.</p>
                    </li>
                    <li>10.5. Цялост и задържане на личните данни
                        <p>Ще задържим личните Ви данни за период, необходим за изпълнението на конкретната цел, за която същите се 
                            обработват, след което ще бъдат изтрити, освен ако нормативен акт изисква да ги задържим за по-дълъг период.</p>
                    </li>
                    <li>10.6. Права на субекта на лични данни
                        <p>Можете да проверите точността, пълнотата и актуалността на личните си данни, както и да ги коригирате, като 
                            влезете в профила си.<br>
                            Ако искате да оттеглите съгласието си за обработване на лични данни, да заявите корекция, да възразите 
                            срещу тяхното обработване или да поискате данните Ви да бъдат изтрити („правото да бъдеш забравен“), 
                            следва да изпратите искане в този смисъл с имейл до runtastic.shoes.contacts@gmail.com. С оглед избягване на злоупотреби, 
                            искания с горното съдържание ще бъдат разглеждани само ако са изпратени от имейла, използван за регистрацията 
                            на профила, като запазваме правото си да поискаме допълнителни данни с оглед установяване идентичност на подалия 
                            искането и субекта на данните, за който се отнася.<br>
                            На подадени искания относно лични данни ще бъде отговорено в едномесечен срок, а в случай на необходимост 
                            от удължаване на посочения срок ще бъдете информирани за удължаването, както и за причините за забавянето. 
                            Можем да откажем да обработваме искания, които се повтарят неоснователно или застрашават поверителността на 
                            други потребители. Във всички случаи имате право да подадете жалба до Комисия за защита на личните данни, 
                            kzld@cpdp.bg, София 1592, бул. „Проф. Цветан Лазаров” № 2.</p>
                    </li>
                </ul>
            </li>

            <li>ОБРАТНА ВРЪЗКА. ВЪПРОСИ И КОНСУЛТАЦИИ.
                <ul>
                    <li>11.1. Всеки Потребител може да осъществи обратна връзка с „Рънтастик Шус” ЕООД, за да поставя въпроси, да прави 
                        предложения и да получава информация. Освен на посочените имейл адреси, връзка може да се осъществи и на посочения в 
                        сайта телефон +359 895 12 16 16.</li>
                    <li>11.2. „Рънтастик Шус” ЕООД е собственик и администратор на интернет сайта Runtastic Shoes.</li>
                </ul>
            </li>
        </ol>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>