<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/loyalty-program-styles.css">
    <title>Програма "Лоялен клиент"</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Програма "Лоялен клиент"</h1>

        <section>
            <h3>Какво е програма "Лоялен клиент"</h3>

            <p>Програма "Лоялен клиент" дава възможност за получаване на допълнителна отстъпйа при достигане на определена стойност на поръчките
                Включването в програмата става след регистрация на сайта като при достигане на определенат стойност от една или няколко поръчки 
                отстъпката се начислява автоматично в Количката.</p>
        </section>

        <section>
            <h3>Предимства за теб</h3>

            <div class="advantages">
                <div class="advantage">
                    <img src="/images/loyalty-program/gift.png" alt="Допълнителни отстъпки">
                    <p>Допълнителни отстъпки</p>
                </div>
    
                <div class="advantage">
                    <img src="/images/loyalty-program/exchange-and-return.png" alt="Лесна замяна и връщане">
                    <p>Лесна замяна и връщане</p>
                </div>
    
                <div class="advantage">
                    <img src="/images/loyalty-program/actual-offers.png" alt="Получаваш актуални оферти">
                    <p>Получаваш актуални оферти</p>
                </div>
    
                <div class="advantage">
                    <img src="/images/loyalty-program/new-models.png" alt="Разбираш за новите модели">
                    <p>Разбираш за новите модели</p>
                </div>
    
                <div class="advantage">
                    <img src="/images/loyalty-program/orders-history.png" alt="История на поръчките">
                    <p>История на поръчките</p>
                </div>
            </div>
        </section>

        <section class="take-part-and-levels">
            <div class="take-part">
                <h3>Присъедини се бързо и лесно</h3>
                <img src="/images/loyalty-program/take-part.png">
            </div>

            <div class="levels">
                <h3>Нива на отстъпки</h3>
                <img src="/images/loyalty-program/levels.png">
            </div>

            <p><a th:href="@{/users/register}">Регистрирай се</a> от тук!</p>
        </section>

        <section>
            <h3>Как да достигна определена отстъпка?</h3>
            
            <p><strong>ВИП 300</strong> - при ИЗПРАТЕНИ поръчки на стойност от 300 лв. до 700 лв. получаваш 5% допълнителна отстъпка от 
                редовната цена (в черен цвят) и от намалената цена (в червен цвят), за всяка следваща поръчка.</p>
            <p><strong>ВИП 700</strong> – при ИЗПРАТЕНИ поръчки на стойност от 701 лв. до 1200 лв. получаваш 7% допълнителна отстъпка от 
                редовната цена (в черен цвят) и от намалената цена (в червен цвят), за всяка следваща поръчка.</p>
            <p><strong>ВИП 1200</strong> – при ИЗПРАТЕНИ поръчки на стойност над 1200 лв. получаваш 10% допълнителна отстъпка от редовната 
                цена (в черен цвят) и от намалената цена (в червен цвят), за всяка следваща поръчка.</p>
        </section>

        <section>
            <h3>Как мога да ползвам отстъпките?</h3>

            <p>За да ползваш отстъпката за съответното ниво е необходимо първо да влезеш в профила си и да добавиш желаните продукти в 
                Количката, където се начисляват автоматично отстъпките. Можеш да ползваш отстъпките за продукти на редовна цена 
                (в черен цвят), както и за продукти с намалена цена (в червен цвят), с изключение на продукти от секция Разпродажба.</p>
        </section>

        <section>
            <h3>Къде мога да видя колко натрупан оборот имам?</h3>

            <p>Когато влезеш в профила си може да видиш какъв оборот ти остава до следващото ниво на отстъпка.</p>
        </section>

        <section>
            <h3>Условия на програмата</h3>

            <ul>
                <li>Отстъпките се начисляват автоматично в Количката след логване в профила и поставянето на продуктите в нея;</li>
                <li>Отстъпките не важат за продукти от секция Разпродажба, но от тях също се натрупва оборот; Отстъпките не могат да 
                    се комбинират с промо кодове;</li>
                <li>Необходимият оборот може да бъде натрупан за неограничен период от време;</li>
                <li>Оборотът се натрупва само върху поръчките със статус Изпратена;</li>
                <li>Необходимият оборот за определената отстъпка може да бъде достигнат от една или няколко поръчки без значение на каква 
                    стойност е всяка от тях;</li>
                <li>Профилите, които вече са натрупали необходимия оборот, директно започват да получават съответната отстъпка за новите 
                    си поръчки;</li>
                <li>При достигане на най-високото ниво на отстъпка, тя е за неограничен период от време;</li>
                <li>Runtastic Shoes си запазва правото да прави промени по горепосочените условия чрез промяна на информацията на тази 
                    страница.</li>
            </ul>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>