<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Съвети за поддръжка</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Съвети за поддръжка</h1>

        <p>Живота на Вашите маратонки зависи изцяло от начина, по който се грижите за тях. Ще Ви дадем няколко кратки, но важни съвета за 
            правилна поддръжка и носене, които ще удължат значително живота им:</p>

        <ol>
            <li>Маратонките НИКОГА не трябва да се перат в пералня или сушилня. Прането може да се прави само с хладка сапунена вода, 
                а накрая се изплакват добре само с чиста хладка вода. </li>
            <li>Сушенето не трябва да се прави срещу пряка слънчева светлина или върху отоплителни уреди. Не прибирайте в шкаф или кутия 
                преди да са изсъхнали напълно.</li>
            <li>Използвайте маратонките според предназначения спорт или просто за разходка и свободно време. Практикувайте футбол само и 
                единствено с обувки, които са описани в сайта ни, че са подходящи за тази игра.</li>
            <li>Препоръчително е да носите маратонките си поне през един ден. Хубаво е да имате най-малко два чифта за да може да ги 
                редувате всеки ден.</li>
            <li>Не носете маратонките си на бос крак. Това може да доведе до замърсяване на вътрешната част и лоши миризми.</li>
            <li>Обувките за които не сме опоменали в сайта ни, че са водоустойчиви има голяма вероятност да пропускат вода в дъждовно 
                време или сняг.</li>
            <li>Кожените обувки може да се почистват само с влажен парцал, а за тези от велур или набук трябва да използвате мека четка и 
                подходящ спрей.</li>
        </ol>

        <p>Ако имате допълнителни въпроси оставаме на Ваше разположение!</p>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>