<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/opinions-styles.css">
    <title>Мнения на клиенти</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1 th:text="${title}">Мнения от клиентите ни</h1>

        <p th:if="${warningMessage}" th:text="${warningMessage}"></p>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>

        <div class="opinions">
            <div class="opinion" th:each="opinion : ${opinions}">
                <div class="header-opinion">
                    <div class="rating">
                        <p th:text="${opinion.getRating()} + '/5'"></p>

                        <span th:each="i : ${#numbers.sequence(1, 5)}">
                            <i class="fa-solid fa-star"
                               th:classappend="${i <= opinion.rating} ? 'star-filled' : 'star-empty'"></i>
                        </span>
                    </div>
                    <p th:text="${#temporals.format(opinion.addedOn, 'dd MMM yyyy')}"></p>
                </div>

                <div class="main-opinion">
                    <p th:text="${opinion.getOpinion()}"></p>
                </div>

                <div class="footer-opinion">
                    <p class="author" th:text="${opinion.getAuthor()}">Илияна Кръстева</p>
                    <form th:action="@{/opinions/delete-opinion/{id}(id=${opinion.getId()})}"
                          th:method="DELETE"
                          sec:authorize="isAuthenticated()"
                          th:if="${opinion.isCanDelete()}">
                        <input th:if="${isUserPage}" type="hidden" name="source" value="userPage">
                        <button type="submit">Изтрий</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="opinion-links">
            <a id="write-opinion" th:href="@{/opinions/add-opinion}">Напиши мнение</a>
            <a sec:authorize="isAnonymous()" th:href="@{/}">Към началната страница</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/users/profile}">Назад към профил</a>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>