<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/opinions-styles.css">
    <title>Смяна на парола</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Мнения от клиентите ни</h1>

        <div class="opinions">
            <div class="opinion">
                <div class="header-opinion">
                    <div class="rating">
                        <p>5/5</p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>01.04.2024</p>
                </div>

                <div class="main-opinion">
                    <p>Маратонките в сайта са топ аз лоша маратонка от тях не съм купувал.
                        Цялото семейство се обуваме от сайта</p>
                </div>

                <div class="footer-opinion">
                    <p class="author">Илияна Кръстева</p>
                </div>
            </div>
        </div>

    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>