<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/order-confirmation-styles.css">
    <title>Направи поръчка</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Направи поръчка</h1>

        <form class="order-confirmation-form"
              th:method="POST"
              th:action="@{/orders/make-order}"
              th:object="${addOrderDTO}">

            <fieldset>
                <legend>Данни за купувача</legend>

                <div class="field">
                    <label th:for="fullName">Име и фамилия</label>
                    <input type="text" th:field="*{fullName}" name="fullName" id="fullName">
                    <small th:if="${#fields.hasErrors('fullName')}"
                           th:errors="*{fullName}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label th:for="email">Имейл</label>
                    <input type="email" th:field="*{email}" name="email" id="email">
                    <small th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label th:for="phoneNumber">Мобилен телефон</label>
                    <input type="text" th:field="*{phoneNumber}" name="phoneNumber" id="phoneNumber">
                    <small th:if="${#fields.hasErrors('phoneNumber')}"
                           th:errors="*{phoneNumber}"
                           class="text-danger">Dish name error message</small>
                </div>
            </fieldset>

            <fieldset>
                <legend>Информация за доставка</legend>

                <div class="field">
                    <label th:for="region">Област:</label>
                    <select th:field="*{region}" id="region" name="region">
                        <option value="">-- Избери област --</option>
                        <option th:each="region : ${regions}"
                                th:value="${region}"
                                th:text="${region.displayName}"></option>
                    </select>
                    <small th:if="${#fields.hasErrors('region')}"
                           th:errors="*{region}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label th:for="town">Град</label>
                    <input type="text" th:field="*{town}" name="town" id="town">
                    <small th:if="${#fields.hasErrors('town')}"
                           th:errors="*{town}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label th:for="postalCode">Пощенски код</label>
                    <input type="text" th:field="*{postalCode}" name="postalCode" id="postalCode">
                    <small th:if="${#fields.hasErrors('postalCode')}"
                           th:errors="*{postalCode}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label th:for="street">Улица</label>
                    <input type="text" th:field="*{street}" name="street" id="street">
                    <small th:if="${#fields.hasErrors('street')}"
                           th:errors="*{street}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="radio-buttons-field">
                    <label>Тип адрес</label>

                    <div class="radio-buttons">
                        <div>
                            <input type="radio"
                                   th:field="*{addressType}"
                                   th:value="OFFICE"
                                   id="officeOption" />
                            <label for="officeOption">Офис на Еконт</label>
                        </div>
                        <div>
                            <input type="radio"
                                   th:field="*{addressType}"
                                   th:value="PERSONAL"
                                   id="personalOption" />
                            <label for="personalOption">Личен адрес</label>
                        </div>
                    </div>
                    <small th:if="${#fields.hasErrors('addressType')}"
                           th:errors="*{addressType}"
                           class="text-danger"></small>
                </div>
            </fieldset>

            <table class="order-items-table">
                <tr>
                    <th>Изображение</th>
                    <th>Наименование</th>
                    <th>Категория</th>
                    <th>Избран размер</th>
                    <th>Количество</th>
                    <th>Единична цена</th>
                    <th>Сумарна цена</th>
                </tr>
                <tr th:each="orderItem, iterStat : ${orderItems}">
                    <td>
                        <img th:src="${orderItem.getImageUrl()}" th:alt="${orderItem.getName()}"/>
                    </td>
                    <td th:text="${orderItem.getName()}"></td>
                    <td th:text="${orderItem.getCategory()}"></td>
                    <td th:text="'№ ' + ${orderItem.getSelectedSize()}"></td>
                    <td th:text="${orderItem.getSelectedQuantity()} + ' бр.'"></td>
                    <td th:text="${orderItem.getUnitPrice()} + ' лв.'"></td>
                    <td th:text="${orderItem.getUnitPrice() * orderItem.getSelectedQuantity()} + ' лв.'"></td>

                    <input type="hidden" th:field="*{orderItems[__${iterStat.index}__].productId}" />
                    <input type="hidden" th:field="*{orderItems[__${iterStat.index}__].selectedSize}" />
                    <input type="hidden" th:field="*{orderItems[__${iterStat.index}__].selectedQuantity}" />
                    <input type="hidden" th:field="*{orderItems[__${iterStat.index}__].unitPrice}" />
                </tr>
            </table>

            <div class="price-section">
                <div class="total-price">
                    <p>Обща сума:</p><span id="totalPrice" th:text="${totalPrice} + ' лв.'"></span>
                    <input type="hidden" th:field="*{totalPrice}" />
                </div>
                <div class="discount" th:if="${discount != null and discount != 0}">
                    <p>Отстъпка:</p>
                    <span class="price-value" id="discount" th:text="'-' + ${discount} + ' лв.'"></span>
                    <p class="promo-code">(с промо код
                        <span th:text="${promoCode}"></span> за
                        <span th:text="${discountPercent}"></span>% отстъпка)
                    </p>
                    <input type="hidden" th:field="*{discount}" />
                    <input type="hidden" id="discountPercent" th:field="*{discountPercent}" />
                    <input type="hidden" id="appliedPromoCode" th:field="*{promoCode}" />
                </div>
                <div class="discountCard" th:if="${discountCard != null}">
                    <p>ВИП Отстъпка:</p>
                    <span class="price-value" id="discountCard"
                          th:text="'-' + ${discountCard.getDiscountValue()} + ' лв.'"></span>
                    <p class="discount-card">(<span th:text="${discountCard.getDiscountCardName()}"></span> за
                        <span th:text="${discountCard.getDiscountPercent()}"></span>% отстъпка)
                    </p>
                    <input type="hidden" id="vipStatusDiscount" th:field="*{vipStatusDiscount}" />
                </div>
                <div class="final-price" th:if="${finalPrice != null and finalPrice != 0}">
                    <p>Крайна сума:</p>
                    <span class="price-value" id="finalPrice" th:text="${finalPrice} + ' лв.'"></span>
                    <input type="hidden" th:field="*{finalPrice}" />
                </div>
            </div>

            <p class="warn-msg">Ако искате да направите промени в кода за отстъпка, размера на избраните продукти
                или количествата, моля върнете се към Вашата количка!</p>

            <button class="make-order-btn" type="submit">Поръчай</button>
            <a class="shopping-cart-btn" th:href="@{/shopping-cart}">Обратно към количката</a>
        </form>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll('.price-value').forEach(span => {
                const raw = parseFloat(span.textContent);
                if (!isNaN(raw)) {
                    span.textContent = raw.toFixed(2) + ' лв.';
                }
            });
        });
    </script>

</body>
</html>