<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/orders-styles.css">
    <title>Поръчки</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1 sec:authorize="hasRole('ADMIN')" th:if="${allOrders}">Всички поръчки</h1>
        <h1 th:unless="${allOrders}">Моите поръчки</h1>

        <p th:if="${warningMessage}" th:text="${warningMessage}"></p>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>

        <div class="orders-list" th:if="${orders != null}">
            <section class="order-info" th:each="order : ${orders.getContent()}">
                <p th:text="'#' + ${order.getId()}"></p>
                <p th:text="${#temporals.format(order.getOrderedOn(), 'dd-MM-yyyy HH:mm')}"></p>
                <p th:text="${order.getFullName()}"></p>
                <p class="order-status" th:text="${order.getStatus()}" th:classappend="${order.getStatusClass()}">
                </p>
                <p class="price" th:text="${order.getFinalPrice()} + ' лв.'"></p>
                <a th:href="@{/orders/track/{id}/{trackingCode}(id=${order.getId()}, trackingCode=${order.getTrackingCode()})}"
                >Виж поръчката</a>
                <form sec:authorize="hasRole('ADMIN')"
                      th:if="${allOrders}"
                      th:action="@{/orders/update-status/{id}(id=${order.getId()})}"
                      th:method="PUT">
                    <button type="submit">Обнови статус</button>
                </form>
            </section>
        </div>

        <div class="pagination" th:if="${orders != null}">
            <ul>
                <li th:if="${orders.hasPrevious()}" class="hasPrevious">
                    <a th:if="${allOrders}"
                       th:href="@{/orders/all(size=${orders.size}, page=${orders.number - 1})}">&lt; Предишна</a>
                    <a th:unless="${allOrders}"
                       th:href="@{/users/my-orders(size=${orders.size}, page=${orders.number - 1})}">&lt; Предишна</a>
                </li>

                <li th:each="i : ${#numbers.sequence(0, orders.totalPages - 1)}"
                    th:if="${orders.totalPages > 1}"
                    th:classappend="${i} == ${orders.number} ? 'active' : 'pageNumber'">
                    <a th:if="${allOrders}"
                       th:href="@{/orders/all(size=${orders.size}, page=${i})}">
                        <span th:text="${i + 1}">1</span>
                    </a>
                    <a th:unless="${allOrders}"
                       th:href="@{/users/my-orders(size=${orders.size}, page=${i})}">
                        <span th:text="${i + 1}">1</span>
                    </a>
                </li>

                <li th:if="${orders.hasNext()}" class="hasNext">
                    <a th:if="${allOrders}"
                       th:href="@{/orders/all(size=${orders.size}, page=${orders.number + 1})}">Следваща &gt;</a>
                    <a th:unless="${allOrders}"
                       th:href="@{/users/my-orders(size=${orders.size}, page=${orders.number + 1})}">Следваща &gt;</a>
                </li>
            </ul>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>