<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Runtastic Shoes</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Политика за поверителност</h1>

        <p>Задължителна информация за правата на лицата по защита на личните данни (Privacy notice)</p>

        <ul>Информация относно дружеството, което обработва данните Ви:
            <li>Наименование: "Рънтастик Шус“ ЕООД</li>
            <li>ЕИК/БУЛСТАТ: 202441322</li>
            <li>Седалище и адрес на управление: : гр. София 1407, район р-н Лозенец, ул. КОЗЯК</li>
            <li>Адрес за кореспонденция: гр. София 1407, район р-н Лозенец, ул. КОЗЯК</li>
            <li>Телефон: 0895 12 16 16</li>
            <li>Имейл: runtastic.shoes.contacts@gmail.com</li>
            <li>Регистрация в КЗЛД: 383781</li>
        </ul>

        <ul>Информация относно компетентния надзорен орган защита на личните данни
            <li>Наименование: Комисия за защита на личните данни</li>
            <li>Седалище и адрес на управление: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2</li>
            <li>Адрес за кореспонденция: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2</li>
            <li>Телефон: 02 915 3 518</li>
            <li>Интернет страница: www.cpdp.bg</li>
        </ul>

        <p>Основание за събиране, обработване и съхраняване на вашите лични данни</p>

        <p>Чл. 1. Администраторът събира и обработва Вашите лични данни във връзка с използването на онлайн магазина 
            Runtastic Shoes и сключване на договори с дружеството на основание чл. 6, ал. 1, Регламент (ЕС) 2016/679 (GDPR), 
            и по-конкретно въз основа на следното основание:<br>
            Изрично получено съгласие от Вас като клиент;<br>
            Изпълнение на задълженията на Администратора по договор с Вас;<br>
            Спазване на законово задължение, което се прилага спрямо Администратора;<br>
            За целите на легитимните интереси на Администратора или на трета страна;</p>

        <p>Цели и принципи при събирането, обработването и съхраняването на вашите лични данни</p>

        <p>Чл. 2. (1) Ние събираме и обработваме личните данни, които Вие ни предоставяте във връзка с използването на онлайн магазина 
            Runtastic Shoes и сключване на договор с дружеството, включително за следните цели:<br>

            създаване на профил и предоставяне на пълна функционалност при използването на онлайн магазина;<br>
            индивидуализация на страна по договора;<br>
            счетоводни цели;<br>
            статистически цели;<br>
            защита на информационната сигурност;<br>
            обезпечаване на изпълнението на договора за предоставяне на съответната услуга.<br>
            изпращане на информационен бюлетин при изразено от Вас желание;<br></p>
            
        <p>(2) Ние спазваме следните принципи при обработката на Вашите лични данни:<br>
            
            законосъобразност, добросъвестност и прозрачност;<br>
            ограничение на целите на обработване;<br>
            съотносимост с целите на обработката и свеждане до минимум на събираните данни;<br>
            точност и актуалност на данните;<br>
            ограничение на съхранението с оглед постигане на целите;<br>
            цялостност и поверителност на обработването и гарантиране на подходящо ниво на сигурност на личните данни.<br></p>
            
        <p>(3) При обработването и съхранението на личните данни, Администраторът може да обработва и съхранява личните данни с цел 
            защита следните си легитимни интереси:<br>
            изпълнение на задълженията си към Национална агенция по приходите, Министерство на вътрешните работи и други държавни и 
            общински органи.</p>

        <p>Какви видове лични данни събира, обработва и съхранява нашето дружество</p>

        <p>Чл. 3. Дружеството извършва следните операции с предоставените от Вас лични данни за следните цели:<br>
            Регистрация на потребител в електронния магазин и изпълнение на договор за покупко-продажба от разстояние – целта на тази операция 
            е създаване на профил за използване на електронния магазин за закупуване на стоки и предоставяне на данни за контакт за извършване 
            на доставка на закупени стоки. Регистрацията и създаването на профил за използване на онлайн магазина не е задължителна стъпка от 
            предоставянето на услугата и тя е достъпна в значителна степен и без създаването на профил чрез опцията „Бърза поръчка“.<br>
            Заключение от оценката на въздействие: Въз основа на извършената оценка на въздействието, длъжностното лице за защита на личните 
            данни, счита че операцията „Регистрация на потребител в електронния магазин и изпълнение на договор за покупко-продажба от 
            разстояние“ е допустима за извършване и предоставя достатъчни гаранции за защита на правата и законните интереси на субектите 
            на данните в съответствие с изискванията на GDPR.<br>
            Сключване и изпълнение на търговска сделка с клиент или партньор – целта на тази операция е сключване и изпълнение на договор 
            с търговски партньор или клиент и неговото администриране. Предвид ограничения обхват на събираните лични данни и обстоятелството, 
            че част от тях се събират от публично достъпни източници, Длъжностното лице за защита на личните данни счита, че провеждането на 
            оценка на въздействието не е необходимо извършването на оценка на въздействието на операцията.<br>
            Изпращане на информационен бюлетин (нюзлетър) и рекламни съобщения – целта на тази операция е администриране на процеса по 
            изпращане на бюлетини до клиентите, които са заявили, че желаят да получават. Предвид ограничения обхват на събираните лични данни, 
            Длъжностното лице за защита на личните данни счита, че провеждането на оценка на въздействието не е необходимо извършването на 
            оценка на въздействието на операцията.<br>
            Упражняване право на отказ или извършване на рекламация – целта на тази операция е администриране на процеса по упражняване на 
            правото на отказ или рекламация от клиента. Предвид ограничения обхват на събираните лични данни, Длъжностното лице за защита на 
            личните данни счита, че провеждането на оценка на въздействието не е необходимо извършването на оценка на въздействието на 
            операцията.<br>
            Извършване на оценка при изкупуване на стока - целта на тази операция е  извършването на предварителна оценка при желание от 
            страна на клиента за изкупуванена стока;<br>
            Изкупуване на стока - целта на тази операция е съдействие при прехвърляне на стоката чрез сключване на договор за 
            покупко-продажба с физическо лице.</p>
            
        <p>Чл. 4. (1) Администраторът обработва следните категории лични данни и информация за следните цели и на следните основания:
            Данни за регистрация и получаване на бюлетин (имена, имейл)<br>
            Цел, за която се събират данните: 1) Осъществяване на връзка с потребителя и изпращане на информация към него, 2) за целите 
            на регистрация на потребител в онлайн магазина, както и 3) за изпращане на информационен бюлетин.<br>
            Основание за обработка на личните Ви данни - С приемането на общите условия и регистрация в електронния магазин или извършване 
            на поръчка без регистрация, или при сключването на писмен договор, между Администратора и Вас се създава договорно отношение, 
            на което основание обработваме Вашите лични данни – чл. 6, ал. 1, б. (б) GDPR. Данните Ви за изпращане на информационен бюлетин 
            се обработват на основание дадено от Вас изрично съгласие - чл. 6, ал. 1, б. (а) GDPR.<br>
            Допълнителни данни, предоставяни от Вас – Ако желаете да допълните Вашия профил, можете да попълните в него данни за фамилия, 
            адрес, телефонен номер и местонахождение.<br>
            Цел, за която се събират данните: Допълване на информация за потребителя в потребителския му акаунт.<br>
            Основания за обработка на данните: Вие сте предоставили изрично съгласие за обработване на личните му данни за една или повече 
            конкретни цели - 6, ал. 1, б. (a) на GDPR в момента на регистрация в онлайн магазина.<br>
            Данни за извършване на доставка (имена, телефон, имейл, адрес)<br>
            Цел, за която се събират данните: Изпълнение на задължения на администратора по договор за покупко-продажба от разстояние и 
            доставка на закупените стоки, включително при упражняване на право на връщане и замяна или отказ от закупена стока.<br>
            Основание за обработка на личните Ви данни - С приемането на общите условия и регистрация в електронния магазин или извършване 
            на поръчка без регистрация, или при сключването на писмен договор, между Администратора и Вас се създава договорно отношение, 
            на което основание обработваме Вашите лични данни – чл. 6, ал. 1, б. (б) GDPR.</p>

        <p>(2) Администраторът не събира и не обработва лични данни, които се отнасят за следното:<br>
            разкриват расов или етнически произход;<br>
            разкриват политически, религиозни или философски убеждения, или членство в синдикални организации;<br>
            генетични и биометрични данни, данни за здравословното състояние или данни за сексуалния живот или сексуалната ориентация.<br>
            (3) Личните данни са събрани от Администратора от лицата, за които се отнасят.<br>
            
            (4) Дружеството не извършва автоматизирано взимане на решения с данни.<br>
            
            (5) Дружеството не събира и обработва данни за лица под 16 години, освен с изричното съгласие на техните родители или 
            законни представители.</p>

        <p>Срок на съхранение на личните Ви данни<br>
            Чл. 5. (1) Администраторът съхранява Вашите лични данни за срок не по-дълъг от съществуването на профила Ви в онлайн магазин 
            или извършване на поръчката чрез опцията „Бърза поръчка“. След заличаване на профила Ви или успешно приключване, Администраторът 
            полага необходимите грижи да изтрие и унищожи всички Ваши данни, без ненужно забавяне или да ги анонимизира (т.е. да ги приведе 
            във вид, който не разкрива вашата личност).<br>
            
            (2) Администраторът съхранява Вашите лични данни, предоставени във връзка с направени онлайн поръчки, за срок от 5 години за 
            целите на защита на правните интереси на Администратора при съдебни или административни спорове с потребители на онлайн магазина, 
            като счетоводните документи се съхраняват за съответния законоустановен срок.<br>
            
            (3) Администраторът Ви уведомява, в случай, че срокът за съхранение на данните е необходим да бъде удължен с оглед изпълнение 
            на нормативно задължение или с оглед легитимни интереси на Администратора или друго.<br>
            
            Чл. 6. Администраторът съхранява личните данни на законните представители на търговските си партньори за срока на изпълнение на 
            договора, за спазване на легитимните интереси и законови задължения на Администратора, като този срок може да надхвърля срока на 
            сключения договор.</p>

        <p>Предаване на Вашите лични данни за обработване<br>
        Чл. 7. (1) Администраторът може по собствена преценка да предава част или всички Ваши лични данни на обработващи лични данни 
            за изпълнението на целите за обработване, с които сте се съгласили, при спазване на изискванията на Регламент (ЕС) 
            2016/679 (GDPR).<br> 
        (2) Администраторът Ви уведомява в случай на намерение да предаде част или всички Ваши лични данни на трети държави или 
            международни организации.<br>
        Вашите права при събирането, обработването и съхранението на личните Ви данни<br>
        Оттегляне на съгласието за обработване на личните Ви данни<br>
        Чл. 8. (1) Ако не желаете всички или част от Вашите лични данни да продължат да бъдат обработвани от Дружеството за конкретна 
            или за всички цели на обработване, Вие можете по всяко време да оттеглите съгласието си за обработка чрез искане в свободен 
            текст.<br>
        (2) Администраторът може да поиска да удостоверите своята самоличност и идентичност с лицето, за което се отнасят данните, 
            като поиска от Вас да въведете имейл адрес и парола за достъп до сайта на място в офиса на Дружеството пред наш служител.<br>
        (3) С оттегляне на съгласието за обработване на лични данни, които са задължителни за създаването и поддържане на профил в онлайн 
            магазина, Вашият акаунт ще стане неактивен. Разбира се, Вие ще можете да разглеждате онлайн магазина и предлаганите продукти и да 
            извършвате поръчки като гост или да направите нова регистрация.<br>
        (4) Ако има направена от Вас поръчка, която е в процес на обработване, най-ранният момент, в който можете да оттеглите съгласието 
            си за обработване, е при успешното завършване на поръчката.</p>

        <p>Право на достъп<br>
            Чл. 9. (1) Вие имате право да изискате и получите от Администратора потвърждение дали се обработват лични данни, свързани 
            с Вас, като ако сте регистриран потребител, можете по всяко време да видите във Вашия профил личните данни, които сте 
            предоставили и се обработват за Вас.<br>
            (2) Вие имате право да получите достъп до данните, свързани с вас, както и до информацията, отнасяща се до събирането, 
            обработването и съхранението на личните Ви данни.<br>
            (3) Администраторът Ви предоставя при поискване, копие от обработваните лични данни, свързани с Вас, в електронна или друга 
            подходяща форма.<br>
            (4) Предоставянето на достъп до данните е безплатно, но Администраторът си запазва правото да наложи административна такса, 
            в случай на повторяемост или прекомерност на исканията.</p>

        <p>Право на коригиране или попълване<br>
            Чл. 10. Вие можете да коригирате или попълните неточните или непълните лични данни, свързани с Вас директно през Вашия профил в 
            уебсайта или с отправяне на искане до Администратора.</p>

        <p>Право на изтриване („да бъдеш забравен“)<br>
            Чл. 11. (1) Вие имате правото да поискате от Администратора изтриване на част или всички свързани с Вас лични данни, 
            а Администраторът има задължението да ги изтрие без ненужно забавяне, когато е налице някое от посочените по-долу основания:<br>
            личните данни повече не са необходими за целите, за които са били събрани или обработвани по друг начин;<br>
            Вие оттеглите своето съгласие, върху което се основава обработването на данните и няма друго правно основание за обработването;<br>
            Вие възразите срещу обработването на свързаните с Вас лични данни, включително за целите на директния маркетинг и няма законни 
            основания за обработването, които да имат преимущество;<br>
            личните данни са били обработвани незаконосъобразно;<br>
            личните данни трябва да бъдат изтрити с цел спазването на правно задължение по правото на ЕС или правото на държава членка, 
            което се прилага спрямо Администратора;<br>
            личните данни са били събрани във връзка с предлагането на услуги на информационното общество.<br>
            (2) Администраторът не е длъжен да изтрие личните данни, ако ги съхранява и обработва:<br>
            
            за упражняване на правото на свобода на изразяването и правото на информация;<br>
            за спазване на правно задължение, което изисква обработване, предвидено в правото на ЕС или правото на държавата членка, 
            което се прилага спрямо Администратора или за изпълнението на задача от обществен интерес или при упражняването на официални 
            правомощия, които са му предоставени;<br>
            по причини от обществен интерес в областта на общественото здраве;<br>
            за целите на архивирането в обществен интерес, за научни или исторически изследвания или за статистически цели;<br>
            за установяването, упражняването или защитата на правни претенции.<br>
            
            (3) В случай на упражняване на правото Ви да бъдете забравени, Дружеството ще изтрие всички ваши данни, с изключение на 
            следната информация:<br>
            
            информация, която е необходима, за да удостовери, че правото ви да бъдете забравени е изпълнено – имейл, IP адрес;<br>
            техническа информация за функционирането на онлайн магазина, която информация не може да се свърже по никакъв начин с 
            вашата личност;<br>
            електронна поща, с която сте извършили регистрация в онлайн магазина.<br>
            
            (4) За да упражните правото си за бъдете забравен, е необходимо да подадете заявка с изпращане на искане по имейл до 
            Администратора.<br>
            
            (5) Администраторът може да поиска да удостоверите своята самоличност и идентичност с лицето, за което се отнасят данните.<br>
            
            (6) Ако има направена от Вас поръчка, която е в процес на обработване, най-ранният момент, в който можете да поискате да бъдете 
            „забравен“, е при успешното завършване на поръчката.<br>
            
            (3) С изтриване на Вашите лични данни, Вашият акаунт ще стане неактивен. Разбира се, Вие ще можете да разглеждате онлайн 
            магазина и предлаганите продукти и да извършвате поръчки като гост или да направите нова регистрация.<br>
            
            (7) Администраторът не изтрива данните, които има законово задължение да съхранява, включително за защита по повод отправени 
            срещу него съдебни претенции или доказване на свои права.</p>

            <p>Право на ограничаване<br>

            Чл. 12. Вие имате право да изискате от Администратора да ограничи обработването на свързаните с Вас данни, когато:<br>

            оспорите точността на личните данни, за срок, който позволява на Администратора да провери точността на личните данни;<br>
            обработването е неправомерно, но Вие не желаете личните данни да бъдат изтрити, а само използването им да бъде ограничено;<br>
            Администраторът не се нуждае повече от личните данни за целите на обработването, но Вие ги изисквате за установяването, 
            упражняването или защитата на свои правни претенции;<br>
            Възразили сте срещу обработването в очакване на проверка дали законните основания на Администратора имат преимущество пред 
            Вашите интереси.

            <p>Право на преносимост<br>
                Чл. 13. (1) Вие можете по всяко време да изтеглите или да получите в машинно-четим формат данните, които се съхраняват 
                и обработват за Вас във връзка с използване на услугите на Администратора с искане по имейл.<br>
                (2) Вие можете да поискате от Администратора директно да прехвърли Вашите лични данни към посочен от Вас администратор, 
                когато това е технически осъществимо.</p>

            <p>Право на получаване на информация<br>
                Чл. 14. Вие можете да поискате от Администратора да Ви информира относно всички получатели, на които личните данни, 
                за които е поискано коригиране, изтриване или ограничаване на обработването, са били разкрити. Администраторът може да 
                откаже да предостави тази информация, ако това би било невъзможно или изисква несъразмерно големи усилия.</p>
                
            <p>Право на възражение<br>
            Чл. 15. Вие можете да възразите по всяко време срещу обработването на лични данни от Администратора, които се отнасят до него, 
            включително ако се обработват за целите на профилиране или директен маркетинг.</p>

            <p>Вашите права при нарушение на сигурността на личните ви данни<br>
                Чл. 16. (1) Ако Администраторът установи нарушение на сигурността на личните Ви данни, което може да породи висок 
                риск за Вашите права и свободи, той Ви уведомява без ненужно забавяне за нарушението, както и за мерките, които са 
                предприети или предстои да бъдат предприети.<br>
                (2) Администраторът не е длъжен да Ви уведомява, ако:<br>
                е предприел подходящи технически и организационни мерки за защита по отношение на данните, засегнати от нарушението на 
                сигурността;<br>
                е взел впоследствие мерки, които гарантират, че нарушението няма да доведе до висок риск за правата Ви;<br>
                уведомяването би изисквало непропорционални усилия.</p>

            <p>Лица, на които се предоставят личните ви данни<br>
                Чл. 17. За целите на обработване на личните Ви данни и предоставяне на услугата в пълната й функционалност и с 
                оглед Вашите интереси, Администраторът може да предостави данните на следните лица, които са обработващи данни – виж списъка 
                на обработващите данните. Посочените обработващи лични данни спазват всички изисквания за законност и сигурност при 
                обработването и съхраняването на личните Ви данни.<br>
                Чл. 18. Администраторът не извършва трансфер на вашите данни към трети държави.<br>
                Чл. 19. В случай на нарушаване на правата Ви съгласно горепосоченото или приложимото законодателство за защита на 
                личните данни, имате право да подадете жалба до Комисията за защита на личните данни, както следва:<br>
                Наименование: Комисия за защита на личните данни<br>
                Седалище и адрес на управление: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2<br>
                Адрес за кореспонденция: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2<br>
                Телефон: 02 915 3 518<br>
                Интернет страница: www.cpdp.bg<br>
                Чл. 20. Можете да упражните всичките си права относно защита на Вашите лични данни чрез формите, приложени към 
                настоящата информация. Разбира се, тези форми не са задължителни и можете да отправите исканията си във всякаква форма, 
                която съдържа изявление за това и ви идентифицира като притежател на данните.<br>     
                Чл. 21. Ако съгласието се отнася за трансфер, Администраторът описва възможните рискове за трансфера на данните към трети 
                държави при липсата на решение за адекватна защита и подходящи средства за защита.</p>

            <p>Чл. 22. СЪБИРАНЕ И ИЗПОЛЗВАНЕ НА ЛИЧНИ ДАННИ<br>
                Лични данни са всяка информация, която може да бъде използвана за идентифициране на дадено лице. Възможно е да Ви бъде 
                поискана лична информация всеки път, щом влезете във връзка с нас или с наши партньори с оглед предоставянето на продуктите 
                и услугите ни. Единствено при спазването на настоящата Политика за защита на личните данни и всички приложими законови 
                разпоредби Администраторът и неговите партньори могат да споделят тази информация помежду си и да я използват. Вашите лични 
                данни се обработват единствено на територията на Република България, само за срока и за целите, за които са предоставени.</p>

            <p>22.1. Какви лични данни събираме<br>
                Когато регистрирате профил, купувате продукт, участвате в томбола и др., можем да събираме различни видове информация, 
                включително, но не само име, пощенски адрес, телефонен номер, имейл, предпочитан начин на комуникация или др.<br>
                В случаите, в които е необходимо издаването на определени документи, например фактура, е възможно да Ви бъдат поискани и 
                допълнителни данни съгласно изискванията на нормативната уредба.<br>
                Съхраняваме история на поръчките, направени от всеки регистриран на сайта профил.</p>

            <p>22.2. Как използваме личните данни<br>
                Обработваме личните Ви данни, за да изпълним задълженията си като страна по договор за продажба на стоки или услуги. 
                Възможно е периодично да ги използваме за да изпращаме важни съобщения като известия относно направени поръчки, промени 
                в Общите условия или други правила.<br>
                В случай, че сте заявили съгласие, обработваме Вашите данни за да Ви информираме за актуални промоции и рекламни активности. 
                Веднъж заявено съгласие по всяко време може да бъде оттеглено.<br>
                В случай, че сте заявили съгласие за участие в определени събития (конкурс, томбола, игра и др.) обработваме предоставените 
                ни от Вас данни, за да администрираме тези активности.<br>
                Предоставените при кандидатстване за работа данни ще бъдат използвани единствено за целите на подбор и преценка на 
                пригодността на кандидата за съответната позиция.</p>

            <p>22.3. Разкриване пред трети страни<br>
                В дадени случаи, с цел изпълнението на задълженията ни по сключени с Вас договори или на законови такива, е необходимо или 
                ще бъдем задължени да разкриваме предоставени от Вас лични данни на наши партньори (напр. транспортни, куриерски, сервизни, 
                информационни и др. фирми) или пред компетентни органи.</p>

            <p>22.4. Защита на личните данни<br>
                Администраторът взима предпазни мерки, включващи административни, технически и физически мерки, за да защити личните ви 
                данни от загуба, кражба и злоупотреба, както и от неоторизиран достъп, разкриване, промяна или унищожаване.<br>
                Когато публикувате във форуми, чат стаи или услуги на социални мрежи, личната информация, която споделяте, е видима за 
                други потребители и може да бъде четена, събирана или използвана от тях. В тези случаи Вие носите отговорност за личната 
                информация, която изберете да предоставите.</p>

            <p>22.5. Цялост и задържане на личните данни<br>
                Ще задържим личните Ви данни за период, необходим за изпълнението на конкретната цел, за която същите се обработват, 
                след което ще бъдат изтрити, освен ако нормативен акт изисква да ги задържим за по-дълъг период.</p>

            <p>22.6. Права на субекта на лични данни<br>
                Можете да проверите точността, пълнотата и актуалността на личните си данни, както и да ги коригирате, като влезете в 
                профила си.<br>
                Ако искате да оттеглите съгласието си за обработване на лични данни, да заявите корекция, да възразите срещу тяхното 
                обработване или да поискате данните Ви да бъдат изтрити („правото да бъдеш забравен“), следва да изпратите искане в 
                този смисъл с имейл до contact@shopsector.com. С оглед избягване на злоупотреби, искания с горното съдържание ще бъдат 
                разглеждани само ако са изпратени от имейла, използван за регистрацията на профила, като запазваме правото си да поискаме 
                допълнителни данни с оглед установяване идентичност на подалия искането и субекта на данните, за който се отнася.<br>
                На подадени искания относно лични данни ще бъде отговорено в едномесечен срок, а в случай на необходимост от удължаване на 
                посочения срок ще бъдете информирани за удължаването, както и за причините за забавянето. Можем да откажем да обработваме 
                искания, които се повтарят неоснователно или застрашават поверителността на други потребители. Във всички случаи имате 
                право да подадете жалба до Комисия за защита на личните данни, kzld@cpdp.bg, София 1592, бул. „Проф. Цветан Лазаров” № 2.</p>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>