<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/products-styles.css">
    <title>Продукти</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Спортни обувки</h1>

        <div class="products-list">
            <a class="product-card"
               th:each="product : ${products.getProducts()}"
               th:href="@{/products/product/{id}(id=${product.getId()})}">
                <div class="new-badge" th:if="${product.getCategories().contains('Ново')}">НОВО</div>
                <form th:action="@{/profile/add-favourites}" th:method="POST">
                    <input type="hidden" name="productId" value="${product.id}" />
                    <button type="submit" class="wishlist">♡</button>
                </form>
                <div class="product-image">
                    <img th:src="@{${product.imageUrls[0]}}" th:alt="${product.name}">
                </div>
                <div class="product-title" th:text="${product.getName()}">Nike Flex Experience RN 12</div>
                <div class="product-type">
                    <span th:if="${product.categories.contains('Мъжки обувки')}">Мъжки обувки</span>
                    <span th:if="${product.categories.contains('Дамски обувки')}">Дамски обувки</span>
                    <span th:if="${product.categories.contains('Детски обувки')}">Детски обувки</span>
                </div>
                <div class="price">
                    <span class="current" th:text="${product.getPrice()} + ' лв.'">129.99 лв.</span>
                </div>
                <div class="free-shipping" th:if="${product.getPrice() > 100}">Безплатна доставка</div>
                <div class="sizes">
                    <div class="sizes-title">Налични размери:</div>
                    <div class="sizes">
                        <span th:each="size : ${product.getSizes()}" th:text="${size}"></span>
                    </div>
                </div>
            </a>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>