<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/profile-styles.css">
    <title>Профил</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Моят профил</h1>

        <div class="profile-menu">
            <a class="profile-menu-link" th:href="@{/users/profile}">Данни за профила</a>
            <a class="profile-menu-link" th:href="@{/users/my-orders}">Моите поръчки</a>
            <a class="profile-menu-link" th:href="@{/users/profile/my-addresses}">Моите адреси</a>
            <a class="profile-menu-link" th:href="@{/exchange-or-return}">Замяна или връщане</a>
            <a class="profile-menu-link" th:href="@{/users/profile/favourites}">Любими</a>
            <a class="profile-menu-link" th:href="@{/contacts}">Връзка с нас</a>
        </div>

        <h2 sec:authorize="hasRole('ADMIN')">Администраторско меню</h2>
        <div class="admin-menu" sec:authorize="hasRole('ADMIN')">
            <a class="admin-menu-link" th:href="@{/products/add-product}">Добави продукт</a>
            <a class="admin-menu-link" th:href="@{/promo-codes}">Промо кодове</a>
            <a class="admin-menu-link" th:href="@{/promo-codes/add-promo-code}">Добави промо код</a>
            <a class="admin-menu-link" th:href="@{/orders/all}">Всички поръчки</a>
        </div>

        <div class="main-profile-info">
            <section class="main-info-section">
                <h3>Обща информация</h3>

                <form th:action="@{/users/update-profile}"
                      th:method="PUT"
                      th:object="${userDTO}">

                    <div class="field">
                        <label th:for="email">Имейл</label>
                        <input type="email" th:field="*{email}"
                               th:errorclass="is-invalid"
                               name="email" id="email">
                        <small th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"
                               class="text-danger">Dish name error message</small>
                    </div>

                    <div class="field">
                        <label th:for="fullName">Име и фамилия</label>
                        <input type="text" th:field="*{fullName}"
                               th:errorclass="is-invalid"
                               name="fullName" id="fullName">
                        <small th:if="${#fields.hasErrors('fullName')}"
                               th:errors="*{fullName}"
                               class="text-danger">Dish name error message</small>
                    </div>

                    <div class="field">
                        <label th:for="phoneNumber">Мобилен телефон</label>
                        <input type="text" th:field="*{phoneNumber}"
                               th:errorclass="is-invalid"
                               name="phoneNumber" id="phoneNumber">
                        <small th:if="${#fields.hasErrors('phoneNumber')}"
                               th:errors="*{phoneNumber}"
                               class="text-danger">Dish name error message</small>
                    </div>

                    <p>Моля, свери внимателно въведения номер</p>

                    <button>Запази промените</button>
                </form>

                <form th:action="@{/users/logout}"
                      th:method="POST">
                    <button class="exit-button"><i class="fa-solid fa-right-from-bracket"></i>Изход от профила</button>
                </form>
            </section>

            <section class="vip-section">
                <div class="become-vip">
                    <div class="crown">
                        <i class="fa-solid fa-crown"></i>
                    </div>

                    <h4>Стани ВИП</h4>

                    <p th:if="${vipStatus.getMessage() != null}" th:text="${vipStatus.getMessage()}"></p>

                    <p th:if="${vipStatus.getMessage() == null}">
                        Остават ти още <span th:text="${vipStatus.getAmountToNextLevel()}"></span> лв. до
                        <span th:text="${vipStatus.getNextLevel()}"></span>
                    </p>

                    <a th:href="@{/loyalty-program}">Програма "Лоялен клиент"</a>
                </div>
            </section>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>