<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/promo-codes-styles.css">
    <title>Промо кодове</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Промо кодове</h1>

        <p th:if="${warningMessage != null and promoCodes == null}" th:text="${warningMessage}"></p>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>

        <table th:if="${promoCodes != null}">
            <tr>
                <th class="code">Промо код</th>
                <th class="discount-value">Отстъпка</th>
                <th class="valid-from">Валиден от</th>
                <th class="valid-to">Валиден до</th>
                <th class="active">Активност</th>
                <th class="active">Изтриване</th>
            </tr>
            <tr th:each="promoCode : ${promoCodes.getPromoCodes()}">
                <td class="code" th:text="${promoCode.getCode()}"></td>
                <td class="discount-value" th:text="${promoCode.getDiscountValue()} + '%'"></td>
                <td class="valid-from" th:text="${#temporals.format(promoCode.getValidFrom(), 'dd MMMM yyyy')}"></td>
                <td class="valid-to" th:text="${#temporals.format(promoCode.getValidTo(), 'dd MMMM yyyy')}"></td>
                <td class="active">
                    <span class="active-true" th:if="${promoCode.isActive()}"><i class="fa-solid fa-check"></i></span>
                    <span class="active-false" th:unless="${promoCode.isActive()}"><i class="fa-solid fa-xmark"></i></span>
                </td>
                <td>
                    <form th:action="@{/promo-codes/delete-promo-code/{id}(id=${promoCode.getId()})}"
                          th:method="DELETE">
                        <button class="delete-btn" type="submit">Изтрий</button>
                    </form>
                </td>
            </tr>
        </table>

        <a class="profile-btn" th:href="@{/users/profile}">Обратно към профил</a>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>