<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/return-or-replacement-styles.css">
    <title>Замяна или връщане</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Замяна или връщане</h1>

        <section>
            <h3>Обща информация</h3>

            <p>Ние, от Runtastic Shoes, ползваме услугите на куриерска фирма Еконт Експрес. За да бъдем максимално коректни, изпращаме всички 
                поръчки с опция "Преглед и Тест" преди плащане. Това Ви дава възможност да пробвате и добиете по-ясна представа за продукта 
                в момента на получаването му. В случай, че не Ви стане или не го харесате, можете да го върнете веднага на куриера.</p>
            <p>За поръчки над 100 лева доставката е винаги безплатна. За поръчки под 100 лева доставката е за сметка на клиента. Цената на 
                доставката до офис на Еконт е около 3-4 лева, а до Ваш личен адрес се оскъпява с до 2лв. Посочените цени са ориентировъчни. 
                Куриерската услуга за връщането към нас е винаги за наша сметка.</p>
            <p>Ако сте заплатили поръчката си:</p>
            <p>В срок от 30 дни имате право да върнете или замените това, което сте поръчали, но само ако е в състоянието, в което сте го 
                получили от нас. Продуктът да не е носен навън, а само пробван в домашни условия и оригиналната опаковка и етикетите да 
                не са отстранени. Ако тези условия са спазени, веднага след като го получим обратно от Вас, ще направим замяна за 
                предварително избран от Вас модел или ще Ви възстановим пълната стойност, която сте заплатили за него.</p>
        </section>

        <section>
            <h3>Информация за замяна</h3>

            <p>Ако желаете да направите замяна, моля попълнете моля попълнете формата по-долу на тази страница. След това задължително 
                се свържете с нас според най-удобния за Вас начин на телефон 0895 12 16 16 или на имейл runtastic.shoes.contacts@gmail.com.</p>
            <p>При замяна куриерската услуга в посоката към Вас е за Ваша сметка.</p>
        </section>

        <section>
            <h3>Информация за връщане</h3>

            <p>Ако желаете да върнете продукт към нас и да Ви възстановим сумата, която сте заплатили за него, моля попълнете 
                формата по-долу на тази страница. Куриерската услуга за връщането към нас е винаги за наша сметка.</p>

            <p>Моля, не добавяйте наложен платеж към върнатата пратка. Сумата ще Ви бъде възстановена чрез пощенски паричен превод с 
                куриерска фирма Еконт, след като получим от Вас върнатата стока.</p>

            <ul>
                <li>Ако сте изпратили пратката от офис на Еконт, след три работни дни трябва да отидете до офиса, за да получите парите си.</li>
                <li>Ако сте изпратили пратката от адрес, до три работни дни куриер на Еконт ще Ви посети, за да Ви изплати сумата.</li>
                <li>Ако сте заплатили предварително поръчката си през сайта ни с банкова карта, когато получим пратката, ще възстановим 
                    сумата по банковата Ви карта. След това ще получите парите си до три работни дни.</li>
            </ul>

            <p>При замяна куриерската услуга в посоката към Вас е за Ваша сметка.</p>
        </section>

        <div id="result">
            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                <p class="success" th:text="${successMessage}"></p>
            </div>

            <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
                <p th:text="${failureMessage}"></p>
            </div>
        </div>

        <section class="form-section">
            <form th:action="@{/return-or-replacement}"
                  th:method="POST"
                  th:object="${addReturnOrReplacementRequestDTO}">
                <h2>Ако желаеш замяна или връщане, моля попълни формата!</h2>

                <fieldset>
                    <legend>Лична информация</legend>

                    <div class="field">
                        <label th:for="fullName">Име и фамилия</label>
                        <input type="text" th:field="*{fullName}" name="fullName" id="fullName">
                        <small th:if="${#fields.hasErrors('fullName')}"
                               th:errors="*{fullName}"
                               class="text-danger">Dish name error message</small>
                    </div>

                    <div class="field">
                        <label th:for="email">Имейл</label>
                        <input type="email" th:field="*{email}" name="email" id="email">
                        <small th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"
                               class="text-danger">Dish name error message</small>
                    </div>

                    <div class="field">
                        <label th:for="phoneNumber">Мобилен телефон</label>
                        <input type="text" th:field="*{phoneNumber}" name="phoneNumber" id="phoneNumber">
                        <small th:if="${#fields.hasErrors('phoneNumber')}"
                               th:errors="*{phoneNumber}"
                               class="text-danger">Dish name error message</small>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Адрес, от който да вземем пратката</legend>

                    <div class="field">
                        <label th:for="region">Област:</label>
                        <select th:field="*{region}" id="region" name="region">
                            <option value="">-- Избери област --</option>
                            <option th:each="region : ${regions}"
                                    th:value="${region}"
                                    th:text="${region.displayName}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('region')}"
                               th:errors="*{region}"
                               class="text-danger">Dish name error message</small>
                    </div>

                    <div class="field">
                        <label th:for="town">Град</label>
                        <input type="text" th:field="*{town}" name="town" id="town">
                        <small th:if="${#fields.hasErrors('town')}"
                               th:errors="*{town}"
                               class="text-danger">Dish name error message</small>
                    </div>

                    <div class="field">
                        <label th:for="postalCode">Пощенски код</label>
                        <input type="text" th:field="*{postalCode}" name="postalCode" id="postalCode">
                        <small th:if="${#fields.hasErrors('postalCode')}"
                               th:errors="*{postalCode}"
                               class="text-danger">Dish name error message</small>
                    </div>

                    <div class="field">
                        <label th:for="street">Улица</label>
                        <input type="text" th:field="*{street}" name="street" id="street">
                        <small th:if="${#fields.hasErrors('street')}"
                               th:errors="*{street}"
                               class="text-danger">Dish name error message</small>
                    </div>
                </fieldset>

                <div class="radio-buttons">
                    <h3>От къде ще изпратиш пратката към нас?</h3>

                    <div class="radio-buttons">
                        <div class="radio-button">
                            <input type="radio"
                                   th:field="*{addressType}" th:value="OFFICE"
                                   id="officeOption" />
                            <label th:for="officeOption">От офис на Еконт</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio"
                                   th:field="*{addressType}" th:value="PERSONAL"
                                   id="personalOption" />
                            <label th:for="personalOption">От личен адрес</label>
                        </div>
                        <small th:if="${#fields.hasErrors('addressType')}"
                               th:errors="*{addressType}"
                               class="text-danger"></small>
                    </div>
                </div>

                <div class="radio-buttons">
                    <h3>Какво желаеш да извършиш - Замяна или Връщане?</h3>

                    <div class="radio-buttons">
                        <div class="radio-button">
                            <input type="radio"
                                   th:field="*{requestType}" th:value="REPLACE"
                                   id="replaceOption" />
                            <label th:for="personalOption">Замяна</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio"
                                   th:field="*{requestType}" th:value="RETURN"
                                   id="returnOption" />
                            <label th:for="officeOption">Връщане</label>
                        </div>
                        <small th:if="${#fields.hasErrors('requestType')}"
                               th:errors="*{requestType}"
                               class="text-danger"></small>
                    </div>
                </div>

                <button>Създай товарителница</button>
            </form>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>