<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/register-form-styles.css">
    <title>Количка</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Количка</h1>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
          <p th:text="${failureMessage}"></p>
        </div>


    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>