<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/shopping-cart-styles.css">
    <title>Количка</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Количка</h1>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
          <p th:text="${failureMessage}"></p>
        </div>

        <div th:if="${shoppingCart.cartItems.empty}" class="empty-cart-message">
            <p>Все още нямаш добавени продукти в твоята количка.
                Можеш да разгледаш най-новото в Runtastic Shoes и да направиш своя избор.</p>
            <a th:href="@{/products/all}" class="view-products-btn">Виж нашите предложения</a>
        </div>

        <div class="shopping-cart-items" th:if="${not shoppingCart.cartItems.empty}">
            <div class="cart-item" th:each="cartItem : ${shoppingCart.getCartItems()}">
                <img th:src="${cartItem.getImageUrl()}"/>

                <div class="product-title">
                    <h2 th:text="${cartItem.getName()}"></h2>

                    <div class="product-type">
                        <span th:if="${cartItem.categories.contains('Мъжки обувки')}">Мъжки обувки</span>
                        <span th:if="${cartItem.categories.contains('Дамски обувки')}">Дамски обувки</span>
                        <span th:if="${cartItem.categories.contains('Детски обувки')}">Детски обувки</span>
                    </div>
                </div>

                <div class="size-selector"
                     th:attr="data-selected-quantity=${cartItem.selectedQuantity}">
                    <label th:for="'size-' + ${cartItem.id != null ? cartItem.id : cartItem.tempId}">Размер:</label>
                    <select th:id="'size-' + ${cartItem.id != null ? cartItem.id : cartItem.tempId}"
                            name="size"
                            th:attr="data-selected-quantity=${cartItem.selectedQuantity}">
                        <option th:each="size : ${cartItem.quantitySizes}"
                                th:value="${size.size}"
                                th:data-quantity="${size.quantity}"
                                th:text="'№ ' + ${size.size}"
                                th:selected="${size.size} == ${cartItem.selectedSize}">
                        </option>
                    </select>
                </div>

                <div class="quantity-input">
                    <label th:for="'quantity-' + ${cartItem.id != null ? cartItem.id : cartItem.tempId}">Количество:</label>
                    <select th:id="'quantity-' + ${cartItem.id != null ? cartItem.id : cartItem.tempId}"
                            class="quantity-selector"
                            name="quantity" required>
                        <!-- Опциите ще се запълнят чрез JS -->
                    </select>
                </div>

                <div class="buttons">
                    <form th:action="@{/shopping-cart/remove-item/{id}(id=${cartItem.id != null ? cartItem.id : cartItem.tempId})}"
                          method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="hidden" name="_method" value="delete" />

                        <button type="submit"><i class="fa-regular fa-trash-can"></i>Премахни</button>
                    </form>

                    <form th:action="@{/profile/add-favourites/{id}(id=${cartItem.getId()})}"
                          th:method="POST">
                        <button type="submit"><i class="fa-regular fa-heart"></i>Добави в любими</button>
                    </form>
                </div>

                <div class="price">
                    <input type="hidden" th:id="'unit-price-' + ${cartItem.id != null ? cartItem.id : cartItem.tempId}"
                           th:value="${cartItem.getUnitPrice()}" />

                    <span class="current"
                          th:id="'price-' + ${cartItem.id != null ? cartItem.id : cartItem.tempId}"
                          th:attr="data-unit-price=${cartItem.getQuantityPrice()}"
                          th:text="${cartItem.getQuantityPrice()} + ' лв.'">129.99 лв.</span>
                </div>
            </div>
        </div>

        <div class="shopping-cart-price" th:if="${not shoppingCart.cartItems.empty}">
            <div class="promo-code">
                <form id="promoForm" class="promo-code-form"
                      th:action="@{/promo-codes/apply-promo}"
                      th:method="POST">
                    <label for="promoCode">Имаш промо код?</label>
                    <input type="hidden" name="cartData" id="cartData" />
                    <input type="text" name="promoCode" id="promoCode" placeholder="Въведи промо кода тук"/>
                    <button type="submit">Приложи</button>

                    <div id="discountInfo"></div>
                </form>
            </div>

            <div class="price-section">
                <div class="total-price">
                    <div>
                        <p>Обща сума:</p>
                        <span id="originalPrice" th:text="${totalPrice} + ' лв.'"></span>
                    </div>

                    <div id="discountBlock" style="display: none;">
                        <p>Отстъпка:</p><span id="discountValue"></span>
                    </div>

                    <div id="finalBlock" style="display: none;">
                        <p><strong>Крайна цена:</strong></p>
                        <span id="finalPrice"></span>
                    </div>
                </div>

                <form class="make-order-form"
                      th:action="@{/}"
                      th:method="POST">
                    <button type="submit">Поръчай</button>
                </form>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\update-quantity-sizes.js"></script>
    <script src="\js\apply-promo.js"></script>

</body>
</html>