<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/shopping-cart-styles.css">
    <title>Количка</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Количка</h1>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
          <p th:text="${failureMessage}"></p>
        </div>

        <div th:if="${shoppingCart.cartItems.empty}" class="empty-cart-message">
            <p>Все още нямаш добавени продукти в твоята количка.
                Можеш да разгледаш най-новото в Runtastic Shoes и да направиш своя избор.</p>
            <a th:href="@{/products/all}" class="view-products-btn">Виж нашите предложения</a>
        </div>

        <div class="shopping-cart-items" th:if="${not shoppingCart.cartItems.empty}">
            <div class="cart-item" th:each="cartItem : ${shoppingCart.getCartItems()}">
                <img th:src="${cartItem.getImageUrl()}"/>

                <div class="product-title">
                    <h2 th:text="${cartItem.getName()}"></h2>
                    <div class="product-type">
                        <span th:if="${cartItem.categories.contains('Мъжки обувки')}">Мъжки обувки</span>
                        <span th:if="${cartItem.categories.contains('Дамски обувки')}">Дамски обувки</span>
                        <span th:if="${cartItem.categories.contains('Детски обувки')}">Детски обувки</span>
                    </div>
                </div>

                <!-- ВАЖНО: data-цена, data-избран размер и количество -->
                <div class="cart-item-info"
                     th:attr="data-price=${cartItem.getPrice()},
                  data-selected-quantity=${cartItem.selectedQuantity}">

                    <div class="size-selector">
                        <label th:for="'size-' + ${cartItem.id}">Размер:</label>
                        <select th:id="'size-' + ${cartItem.id}"
                                class="size-select"
                                name="size">
                            <option th:each="size : ${cartItem.quantitySizes}"
                                    th:value="${size.size}"
                                    th:data-quantity="${size.quantity}"
                                    th:text="'№ ' + ${size.size}"
                                    th:selected="${size.size} == ${cartItem.selectedSize}">
                            </option>
                        </select>
                    </div>

                    <div class="quantity-input">
                        <label th:for="'quantity-' + ${cartItem.id}">Количество:</label>
                        <select th:id="'quantity-' + ${cartItem.id}"
                                class="quantity-select"
                                name="quantity"
                                required>
                            <!-- ще се запълни чрез JS -->
                        </select>
                    </div>
                </div>

                <div class="buttons">
                    <form th:action="@{/shopping-cart/remove-item/{id}(id=${cartItem.id != null ? cartItem.id : cartItem.tempId})}"
                          th:method="POST">
                        <button type="submit"><i class="fa-regular fa-trash-can"></i>Премахни</button>
                    </form>
                    <form th:action="@{/profile/add-favourites/{id}(id=${cartItem.getId()})}"
                          th:method="POST">
                        <button type="submit"><i class="fa-regular fa-heart"></i>Добави в любими</button>
                    </form>
                </div>

                <div class="price">
                    <span class="current"
                          th:id="'price-' + ${cartItem.id}"
                          th:text="${cartItem.getPrice()} + ' лв.'">129.99 лв.</span>
                </div>
            </div>
        </div>

        <div class="shopping-cart-price" th:if="${not shoppingCart.cartItems.empty}">
            <div class="total-price">
                <p>Обща сума:</p><span th:text="${totalPrice} + ' лв.'"></span>
            </div>

            <form th:method="POST">
                <button type="submit">Поръчай</button>
            </form>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-quantity-sizes.js"></script>

</body>
</html>