main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main form {
    padding: 2em;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1em;
    position: relative;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main form .field {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

main form .field input {
    border: 1px solid #ccc;
    outline: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

main form .field #minPrice,
main form .field #maxPrice {
    margin: 0.2em 0.5em;
}

main form button,
main form a {
    background-color: #000;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-weight: 600;
    border: none;
    border-radius: 2em;
    font-size: 14px;
}

main form a {
    padding: 0.5em;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

main form a:hover {
    border-color: #000;
}