footer section {
    padding: 2em 8em;
    background-color: #000;
    color: #fff;
    align-items: flex-start;
    font-size: 15px;
}

footer .links::after {
    background-color: #fff;
}

footer .links a:hover {
    font-weight: 600;
    text-decoration: underline;
}

footer .links .subscribe form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

footer .links .subscribe form input {
    width: 100%;
    height: 40px;
    font-size: 15px;
    background-color: #eee;
    color: #000;
    outline: none;
    border: none;
    padding: 0.5em;
    border-radius: 0.7em;
}

footer .links .subscribe form button {
    width: 120px;
    background-color: #C70039;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 0.7em;
    border-radius: 1em;
}

footer .links .subscribe form .success-msg {
    color: #32CD32FF;
}

footer .links .subscribe form .failure-msg {
    color: #C00;
}

footer .social-media,
footer .copyright {
    background-color: #222;
    padding: 0.5em 8em;
    font-size: 18px;
}

footer .copyright {
    font-size: 16px;
}

footer .social-media .social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-media .social-media-links i {
    padding: 0 0.5em;
}