main {
    margin: 0 !important;
}

main .site-banner img {
    width: 100%;
}

main .site-main-section .choose-shoes {
    margin: 1em 8em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .site-main-section .choose-shoes a {
    padding: 0.5em 1em;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 1em;
    font-weight: 600;
    font-size: 16px;
}

main .site-main-section .choose-shoes > p {
    width: 100%;
    text-align: center;
    padding-top: 1em;
    opacity: 0.6;
}

.products-list{
    margin: 2em 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-list h2 {
    width: 100%;
    padding-bottom: 0.5em;
}

.product-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 250px;
    border-radius: 0.5em;
    padding: 1em;
    position: relative;
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.badge-container {
    position: absolute;
    top: 15px;
    left: 10px;
    display: flex;
    gap: 0.4em;
    flex-wrap: nowrap;
}

.new-badge,
.sale-badge {
    background-color: green;
    color: #fff;
    font-size: 12px;
    padding: 0 0.5em;
    border-radius: 1em;
    font-weight: bold;
    white-space: nowrap;
}

.sale-badge {
    background-color: #C00;
}

.wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    aspect-ratio: 1 / 1;
    padding: 0.3em;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.wishlist:hover {
    background-color: #eee;
}

.product-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.product-type {
    color: #666;
    font-size: 14px;
}

.price {
    font-size: 18px;
}

.price .current {
    color: #C00;
    font-weight: bold;
}

.price .old {
    text-decoration: line-through;
    color: #999;
    margin-left: 0.3em;
}

.free-shipping {
    background: green;
    color: white;
    padding: 0 0.7em;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    margin-top: 0.5em;
}

.shoes-on-sale {
    margin: 2em 4em;
}

.shoes-on-sale h2 {
    padding-bottom: 0.5em;
}

.shoes-on-sale .products-list {
    margin: 0;
}

main .site-main-section .new-models img {
    width: 100%;
    object-fit: contain;
}

main .site-main-section .choose-your-size {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 0 8em;
}

main .site-main-section .choose-your-size .article-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 2em;
    padding: 1em 0;
}

main .site-main-section .choose-your-size .article-main input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 10px;
    background: #d3d3d3;
    border-radius: 1em;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

main .site-main-section .choose-your-size .article-main input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url('/images/index/shoe-icon.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

main .site-main-section .choose-your-size .article-main a {
    margin-top: 1em;
    background-color: #000;
    color: #fff;
    padding: 0.5em 1em;
    width: 30%;
    border-radius: 1.5em;
    text-align: center;
}

main .site-main-section .choose-your-size .image-container {
    height: 400px;
}

main .site-main-section .choose-your-size .image-container img {
    width: 400px;
    height: 100%;
    object-fit: cover;
}

main .more-info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 1em;
}

main .more-info-section article {
    width: 49%;
}

main .more-info-section article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .more-info-section article .first-section-image {
    border-top-left-radius: 1.5em;
    padding-bottom: 1.5em;
}

main .more-info-section article .second-section-image {
    border-top-right-radius: 1.5em;
    padding-bottom: 1.5em;
}

main .more-info-section article .third-section-image {
    border-bottom-left-radius: 1.5em;
}

main .more-info-section article .forth-section-image {
    border-bottom-right-radius: 1.5em;
}

main .more-info-section .promo-code-form {
    position: relative;
}

main .more-info-section .promo-code-form form {
    display: flex;
    position: absolute;
    top: 70%;
    left: 9%;
}

main .more-info-section .promo-code-form .promo-code-msg {
    font-style: oblique;
    position: absolute;
    top: 80%;
    left: 9%;
}

main .more-info-section .promo-code-form .promo-code-msg::before {
    display: inline;
    content: '*';
    color: red;
    font-weight: 900;
    padding-right: 0.5em;
}

main .more-info-section .promo-code-form .success-msg {
    color: #32CD32FF;
    position: absolute;
    top: 85%;
    left: 9%;
}

main .more-info-section .promo-code-form .failure-msg {
    color: #C00;
    position: absolute;
    top: 85%;
    left: 9%;
}

main .more-info-section .promo-code-form form input {
    width: 500px;
    padding: 0.5em 1em;
    outline: none;
    border: 1px solid #ccc;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

main .more-info-section .promo-code-form form button {
    width: 100px;
    background-color: #000;
    color: #fff;
    outline: none;
    border: none;
    padding: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

main .brands-section {
    padding: 1em 8em;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    gap: 1em;
}

main .brands-section .popular-brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    padding-bottom: 1em;
}

main .brands-section .popular-brands .popular-brands-main,
main .brands-section .popular-brands .popular-brands-second {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

main .brands-section .popular-brands .popular-brands-main {
    gap: 2em;
}

main .brands-section .popular-brands .popular-brands-main .brand {
    display: flex;
    align-items: center;
    height: 280px;
    object-fit: contain;
}

main .brands-section .popular-brands .popular-brands-main .brand img {
    width: 180px;
}

main .brands-section .popular-brands .brand {
    background-color: #fff;
    border-radius: 1em;
}

main .brands-section .popular-brands .brand a {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-color: #fff;
}

main .brands-section .popular-brands .brand a img {
    width: 150px;
    object-fit: contain;
}

main .brands-section .view-all-brands,
main .opinions-section a {
    align-self: center;
    padding: 0.5em 1em;
    background-color: #000;
    color: #fff;
    width: 20%;
    text-align: center;
    font-weight: 600;
    border-radius: 1em;
}

main .opinions-section .write-opinion {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

main .opinions-section .write-opinion:hover {
    border-color: #000;
}

main .opinions-section {
    padding: 1em 8em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main .opinions-section .opinions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 2em;
    padding-bottom: 1em;
}

main .opinions-section .opinions .opinion {
    flex-basis: calc(100% / 3 - 1.5em);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-sizing: border-box;
}

main .opinions-section .opinions .opinion .main-opinion {
    flex: 1;
}

main .opinions-section .opinions .opinion .header-opinion {
    display: flex;
    justify-content: space-between;
}

main .opinions-section .opinions .opinion .header-opinion .rating {
    width: 50px;
    display: flex;
    align-items: center;
    gap: 0.2em;
    color: orange;
}

main .opinions-section .opinions .opinion .header-opinion .rating p {
    color: #000;
    padding-right: 0.5em;
}

main .opinions-section .opinions .opinion .header-opinion .rating .star-filled {
    color: gold;
}

main .opinions-section .opinions .opinion .header-opinion .rating .star-empty {
    color: #ccc;
}

main .opinions-section .opinions .opinion .footer-opinion .author::before {
    display: inline;
    content: '@';
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding-right: 0.5em;
}

main .opinions-section .opinion-links {
    display: flex;
    justify-content: center;
    gap: 2em;
}

main .about-us-section {
    background-color: #eee;
    padding: 2em 8em;
    display: flex;
    gap: 3em;
}

main .about-us-section .image-container img {
    width: 400px;
    object-fit: contain;
}

main .about-us-section .about-us-content {
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 400px;
    overflow-y: scroll;
}