main section ul {
    padding-left: 1.5em;
    list-style-type: disc;
}

main section .advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

main section .advantages .advantage {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 2em 1em;
    gap: 1em;
}

main section .advantages .advantage img {
    width: 70px;
    height: 70px;
    aspect-ratio: 1 / 1;
}

main .take-part-and-levels {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

main .take-part-and-levels .levels {
    padding-left: 6em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

main .take-part-and-levels p {
    width: 100%;
}

main .take-part-and-levels p a {
    text-decoration: underline;
}

main .take-part-and-levels p a:hover {
    text-decoration: none;
}