main .orders-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main .orders-list .order-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1.5em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

main .orders-list .order-info .order-status {
    color: #fff;
    padding: 0.2em 1em;
    border-radius: 1em;
    font-weight: 500;
}

main .orders-list .order-info .order-status.delivered {
    background-color: #28a745;
}

main .orders-list .order-info .order-status.cancelled {
    background-color: #C00;
}

main .orders-list .order-info .order-status.pending {
    background-color: #007bff;
}

main .orders-list .order-info .order-status.processing {
    background-color: #ffc107;
    color: #000;
}

main .orders-list .order-info .order-status.shipped {
    background-color: #ADFF2FFF;
    color: #000;
}

main .orders-list .order-info .order-status.returned {
    background-color: #ccc;
    color: black;
}

main .orders-list .order-info form button[type="submit"] {
    padding: 0.7em 1em;
    outline: none;
    border: none;
    border-radius: 1em;
    font-weight: 600;
}

main .orders-list .order-info form button[type="submit"]:hover {
    background-color: #bbb;
    color: #fff;
}

main .orders-list .order-info .price {
    font-weight: 500;
}

main .orders-list .order-info a {
    text-decoration: underline;
}

main .orders-list .order-info a:hover {
    text-decoration: none;
}

main .pagination ul,
main .pagination ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

main .pagination .pageNumber,
main .pagination .active {
    border: 1px solid #ccc;
    padding: 0 0.8em;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

main .pagination .active {
    background-color: #000;
    color: #fff;
    border: none;
}

main .pagination .hasPrevious,
main .pagination .hasNext {
    background-color: #000;
    color: #fff;
    border-radius: 1.5em;
    padding: 0 0.8em;
}