main .delivery-info {
    position: relative;
}

main .delivery-info .order-status {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
    font-size: 18px;
}

main .delivery-info .order-status span {
    color: #fff;
    padding: 0 1em;
    border-radius: 0.5em;
    font-weight: 400;
    font-size: 16px;
}

main .delivery-info .order-status.delivered span {
    background-color: #28a745;
}

main .delivery-info .order-status.cancelled span {
    background-color: #C00;
}

main .delivery-info .order-status.pending span {
    background-color: #007bff;
}

main .delivery-info .order-status.processing span {
    background-color: #ffc107;
    color: #000;
}

main .delivery-info .order-status.shipped span {
    background-color: #ADFF2FFF;
    color: #000;
}

main .delivery-info .order-status.returned span {
    background-color: #ccc;
    color: black;
}

main .order-items-info {
    width: 100%;
}

main .order-items-info table {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    border-collapse: collapse;
}

main .order-items-info table tr td img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

main .order-items-info table tr th,
main .order-items-info table tr td {
    border: 1px solid #ccc;
    padding: 0.2em 0.5em;
}

main .order-items-info table tr th {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

main .price-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 16px;
    font-weight: 500;
}

main .price-section div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .price-section .discount #discount,
main .price-section .discountCard #discountCard {
    color: #C00;
}

main .price-section .discount .promo-code-message,
main .price-section .discountCard .discount-card-message {
    opacity: 0.7;
    font-size: 12px;
    font-style: oblique;
}