main section ul {
    padding-left: 1em;
    list-style-type: circle;
}

main .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

main .form-section form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em 2em 2em 2em;
    gap: 1.5em;
}

main .form-section form h2 {
    margin: 0 auto;
    text-align: center;
}

main .form-section form h2::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000;
}

main form fieldset {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1em 2em 2em 2em;
    border: 1px solid #000;
    border-radius: 1em;
}

main form fieldset legend {
    padding: 0 1em;
    font-size: 16px;
    font-weight: 600;
}

main .form-section form .field {
    width: 48%;
    display: flex;
    flex-direction: column;
}

main .form-section form .field input,
main .form-section form .field select {
    padding: 0.5em;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 0.5em;
}

main .form-section form .radio-buttons {
    width: 100%;
}

main .form-section form .radio-buttons .radio-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

main .form-section form .radio-buttons input[type="radio"] {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 17px;
    height: 17px;
    aspect-ratio: 1 / 1;
    accent-color: green;
}

main .form-section form button {
    background-color: #000;
    color: #fff;
    width: 50%;
    align-self: center;
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 1.5em;
    font-weight: 600;
    font-size: 14px;
    margin: 0 auto;
}