main .empty-cart-message {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main .empty-cart-message .view-products-btn {
    width: 20%;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    padding: 0.5em;
    border: none;
    outline: none;
    font-size: 14px;
    text-align: center;
    border-radius: 1.5em;
}

main .shopping-cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

main .shopping-cart-items .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

main .shopping-cart-items .cart-item img {
    width: 20%;
    object-fit: contain;
}

main .shopping-cart-items .cart-item .size-selector,
main .shopping-cart-items .cart-item .quantity-input {
    width: 12%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

main .shopping-cart-items .cart-item .size-selector label,
main .shopping-cart-items .cart-item .quantity-input label {
    font-size: 16px;
}

main .shopping-cart-items .cart-item .size-selector select,
main .shopping-cart-items .cart-item .quantity-input select {
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    padding: 0.5em;
}

main .shopping-cart-items .cart-item .buttons form button[type="submit"] {
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
}

main .shopping-cart-items .cart-item .buttons form button[type="submit"] i {
    padding-right: 0.5em;
}

main .shopping-cart-items .cart-item .price {
    font-size: 20px;
    font-weight: 500;
}

main .shopping-cart-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .shopping-cart-price .promo-code {
    align-self: flex-start;
}

main .shopping-cart-price .promo-code .promo-code-form {
    display: flex;
    flex-wrap: wrap;
}

main .shopping-cart-price .promo-code .promo-code-form label {
    width: 100%;
    font-size: 16px;
    padding-bottom: 0.5em;
}

main .shopping-cart-price .promo-code .promo-code-form #discountInfo {
    width: 100%;
}

main .shopping-cart-price .promo-code .promo-code-form input {
    width: 300px;
    outline: none;
    border: 1px solid #ccc;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 0.5em 1em;
    font-size: 14px;
}

main .shopping-cart-price .promo-code .promo-code-form button[type="submit"] {
    outline: none;
    border: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1em;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

main .shopping-cart-price .price-section {
    width: 20%;
}

main .shopping-cart-price .price-section .total-price {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

main .shopping-cart-price .price-section .total-price div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .shopping-cart-price .price-section .total-price #discountBlock {
    color: #C00;
}

main .shopping-cart-price .price-section .make-order-form {
    width: 100%;
}

main .shopping-cart-price .price-section .make-order-form button[type="submit"] {
    background-color: green;
    color: #fff;
    padding: 1em;
    font-weight: 600;
    width: 100%;
    align-self: center;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 1.5em;
    margin-top: 1em;
}